.ui.form(class="{{class}}")
    .field
        label Receive:
        textarea.rx-area(value="{{rx}}" rows="3")
    .field
        label Send:
        textarea(value="{{tx}}" rows="1")
        
    ack-button.fluid.green(on-click="sendSerial") Send!
