h1 Livescript + Pug example

p Hello world!

p You can use Ractive here. Type your name #[input(value="{{ name }}" placeholder="here")]

h3 Hello {{ name }}!


panel
    p.
        #[icon-dashboard] Any built-in components (look at /src/client/components)
        will also work as usual if you #[code require! components]

example-component
