//DEBUG: ALL PAGES ARE SHOWN: div(name="{{ name }}" style="{{#unless isSelected(curr)}} border: 5px dashed red {{/unless}}; margin: 0; padding: 0; border: 0").
div(name="{{ name }}" style="{{#unless isSelected(curr)}} display: none {{/unless}}; margin: 0; padding: 0; border: 0")
    | {{>content}}
