.ui.button(
    "{{#if !readonly}}on-click='_click'{{/if}}"
    title="{{tooltip}}"
    class="                                                          \
        {{ class }}                                                  \
        ack-button                                                   \
        {{#if state === 'doing' || state === 'done' || state === 'error' }}    \
            {{^custom}}                                              \
                {{^icon}}labeled{{/}} icon                           \
            {{/}}                                                    \
        {{else}}                                                     \
            {{#icon}}icon{{/}}                                       \
        {{/if}}                                                      \
        {{#if disabled || selfDisabled || !enabled}}disabled{{/if}}  \
        {{#if state === 'doing'}}                                    \
            disabled                                                 \
            {{#if !class.includes('labeled')}}                       \
                {{#if icon || class.includes('icon')}}               \
                    loading                                          \
                {{/if}}                                              \
            {{/if}}                                                  \
        {{/if}}                                                      \
        {{#if active || readonly}}active{{/if}}                                       \
        "
    type="{{ type }}"
    style="{{ style }} {{#transparent}}background-color: transparent;{{/}}"
    )
    +unless('custom')
        +iff('state === "doing"')
            +iff('heartbeat')
                i.icon.heart
            +else
                i.icon(style="z-index: 99999")
                    .ui.active.mini.inverted.loader
            +endif
        +elif('state === "done"')
            i.icon.checkmark
        +elif('state === "error"')
            i.warning.sign.icon
        +else
            +if('icon')
                i.icon(class="{{icon}}")
        +endif
    | {{yield}}
