.ui.segments
    h3.ui.top.attached.block.header(class!="{{#if doneItemsLength === itemsLength}}inverted green{{/if}}")
        | {{ title || 'My Todo List' }} ({{ doneItemsLength }}/{{ itemsLength }})
        checkbox.right.floated.transparent(checked="{{ isEditable }}") Edit

    .ui.attached.segment
        ui-progress.top.attached.blue(value="{{doneItemsLength}}" max="{{itemsLength}}")
        .ui.divided.left.aligned.list
            +each('checklist')
                .item
                    +iff('isEditing(.id) && isEditable')
                        .ui.form.red
                            .fields
                                .field
                                    label Content 
                                    input(value="{{ ~/tmp.content }}")
                            .fields 
                                .field
                                    label Due Date 
                                    date-picker(unix="{{ ~/tmp.dueTimestamp }}")
                            
                            .fields
                                .field
                                    .ui.buttons.right.floated
                                        ack-button.green(on-buttonclick="saveChanges") Save
                                        .or
                                        ack-button.red(on-buttonclick="cancelEdit") Cancel

                    +else
                        checkbox.transparent(
                            checked="{{ .isDone }}"
                            on-statechange="statechanged"
                            inline
                            )
                            span(class-todo-item-done=".isDone").
                                {{ .content }} ({{ unixToReadable(.dueTimestamp)}})

                        +if('isEditable')
                            ack-button.basic.right.floated(
                                on-buttonclick="startEditing"
                                disabled="{{ isEditing(.id) || .isDone }}"
                                ) Edit
                    +endif 
                    

    .ui.attached.segment 
        .ui.form
            .field
                i.plus.icon
                input(value="{{ newItem.content }}" placeholder="content...")
            .field 
                date-picker(unix="{{ newItem.dueTimestamp }}")
            .field
                ack-button(on-buttonclick="addNewItem" value="{{ newItem }}") Add New Item
