router(curr="{{ currentPage }}")

.ui.fixed.inverted.main.menu
    .ui.container 
        a.launch.icon.item(onclick="$('.ui.sidebar').sidebar('toggle')")
            i.content.icon 
            
        .item Page: {{currentPage}}
        
        .right.menu
            .vertically.fitted.borderless.item
                a.gh-btn(href="https://github.com/aktos-io/scada.js" data-icon="octicon-star" aria-label="Star aktos-io/scada.js on GitHub")
                    i.large.github.icon 
                    | Star

            .item
                i.icon.user
                span John DOE

.ui.attached.segment.pusher
    logger(curr="{{ currentPage }}")
    
    .ui.hidden.divider
    .ui.container
        //- realtime layer 
        aktos-dcs
            
        h2.ui.horizontal.divider.header 
            i.dashboard.icon 
            | SCADA Components 
            
        include ./previews/rt-components.pug    
        include ./previews/progress/progress.pug
        include ./previews/slider.pug

        h2.ui.horizontal.divider.header 
            i.tasks.icon 
            | ERP Components 

        include ./previews/ack-button.pug    
        include ./previews/dropdown.pug
        include ./previews/dropdown-panel.pug
        include ./previews/input-field.pug    
        include ./previews/checkbox.pug
        
        include ./previews/csv-importer.pug
        include ./previews/text-button.pug
        include ./previews/r-table.pug
        include ./previews/formal-field.pug
        include ./previews/file-read.pug
        include ./previews/print-button.pug
        include ./previews/date-picker.pug
        include ./previews/data-table/index.pug
        include ./previews/todo.pug

        h2.ui.horizontal.divider.header 
            i.cube.icon 
            | Example
        include ./previews/example-component.pug


include ./deps/menu.pug
