router(curr="{{ currentPage }}")

.ui.top.attached.inverted.menu
    a.item(onclick="$('.ui.sidebar').sidebar('toggle')")
        i.sidebar.icon
        | Menu
    .item
        curr page: {{ currentPage }}
        
    .horizontal.right.menu
        .item
            i.icon.user
            span John DOE

.ui.vertical.inverted.inline.left.pushable.sidebar.menu
    +each('menu')
        +unless('.submenu')
            a.item(
                href="{{.url}}"
                class="{{#if currentPage === .url }}active{{/if}}"
                )
                | {{ .title }}
                +if('.icon')
                    i.icon(class="{{.icon}}")
        +if('.submenu')
            .item
                .header {{.title}}
                .menu
                    +each('.submenu')
                        a.item(
                            href="{{.url}}"
                            class="{{#if currentPage === .url }}active{{/if}}"
                            )
                            | {{ .title }}
                            +if('.icon')
                                i.icon(class="{{.icon}}")

.ui.bottom.attached.segment.pusher
    .ui.hidden.divider
    .ui.container
        include ./previews/dropdown.pug
        include ./previews/dropdown-panel.pug
        include ./previews/r-table.pug
        include ./previews/formal-field.pug
        include ./previews/csv-importer.pug
        include ./previews/file-read.pug
        include ./previews/print-button.pug
        include ./previews/input-field.pug
        include ./previews/checkbox.pug
        include ./previews/ack-button.pug
        include ./previews/example-component.pug
        include ./previews/search-combobox.pug
        include ./previews/date-picker.pug
        include ./previews/test-data-table/my-table.pug
        include ./previews/todo.pug
