aea-theme
    aea-menu(menu="{{menu}}" selected="{{testMenu.selected}}")
        li: a(href="#foo") Foo
        li: a(href="#bar") Bar
        li: a(href="#baz") Baz
        li: a(href="#qux") Qux
    aea-content
        +partial('header')
            p hi! this is header!

        +partial('body')
            include ./previews/print-button.pug
            include ./previews/input-field.pug
            include ./previews/checkbox.pug
            include ./previews/ack-button.pug
            include ./previews/example-component.pug
            include ./previews/search-combobox.pug
            include ./previews/date-picker.pug
            include ./previews/test-data-table/my-table.pug
            include ./previews/todo.pug

    aea-footer
        +partial('right')
            span aktos.io

        +partial('left')
            span showcase page
