.push-button {
  border-radius: 6px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: red; 
}
.button-active-state {
  background-color: #293f50;
}


.jq-slider-input {
  float: left; 
  width: 60px; 
  position: relative; 
  top: -14px; 
}
.jq-slider-container {
}