body {
  margin: 0 !important;
  padding: 0 !important;
}

.content {
    margin: 0 !important;
    padding: 0 !important;
}

#home-page {
  background-image: url('../img/aktos-elektronik/home-page/aktos-arkaplan-site.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-col-padding {
  margin-left: 2em;
  margin-right: 2em;
}

.no-shadow {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
