body, html, .ui-mobile {
  margin: 0 !important;
  padding: 0 !important;
}

.content {
    margin: 0 !important;
    padding: 0 !important;
}
/*
div[data-role='page'] {
  height: 100vh !important;
}
*/

.no-shadow {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
