include ../../templates/mixins.jade
    
+partial('knob')
  div
    | <input class="switch-actor knob" data-angleOffset=-125 data-angleArc=250 data-fgColor="CornflowerBlue" data-rotation="clockwise" value="{{ .val ? .val : 0 }}">
