+if('show')
    .ui.form.red
        .field
            label {{#if title}}{{title}}{{else}}Debugging Object{{/if}}

            textarea(style="white-space: pre-wrap") {{ JSON.stringify(obj, null, 2) }}


.ui.button.small.basic.blue(on-click="@.toggle('show')") #[code {{title}}]
