+if('able("scene.admin.debug") || public')
    button.ui.button.circular.icon.pink.mini(on-click="@.toggle('mymodal1')" title="{{title}}") 
        icon.bug

    modal(title="{{title}}" basedon="{{mymodal1}}")
        json-edit(value="{{obj}}" style="width: 80vw; height: calc(80vh - 120px)")
