+if('able("scene.admin.debug") || public')
    .ui.label.circular.red(as-inline-popup) 
        icon.info(tooltip="{{tooltip}}") 
    .ui.popup.transition.hidden(style="min-width: 300px")
        .ui.form
            .field
                label {{title}}
                json-edit(value="{{obj}}")
