.ui.red.message(style="max-width: 200px; width: 100%; overflow: auto; max-height: 200px; height: auto; width: auto")
    h1.ui.red.header 
        +iff('title')
            | {{title}}
        +else
            | Debugging Object
        +endif

    pre(style="white-space: pre-wrap") {{ JSON.stringify(obj, null, 2) }}
