+iff('show')
    .ui.form.red(fade-in="true")
        .field
            label 
                .ui.mini.button.blue.circular.icon(on-click="@.toggle('show')" title="{{title}}") 
                    i.info.icon 
                |
                | {{#if title}}{{title}}{{else}}Debugging Object{{/if}}

            textarea(style="white-space: pre-wrap" twoway="false") {{ JSON.stringify(obj, null, 2) }}


+else 
    .ui.mini.button.basic.circular.icon(on-click="@.toggle('show')" title="{{title}}") 
        i.info.icon 
+endif
