.ui.red.message
    h1.ui.red.header 
        +iff('title')
            | {{title}}
        +else
            | Debugging Object
        +endif

    pre(style="white-space: pre-wrap") {{ JSON.stringify(obj, null, 2) }}
