include ../../templates/mixins.pug
.modal.modal-error.fade(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true")
    .modal-dialog(role="document")
        .modal-content.modal-danger
            .modal-header.
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Grr...</h4>
                
            .modal-body(style="font-size:1.5rem") {{reason}}

            .modal-footer

btn(on-buttonclick="click" value="{{value}}" title="{{reason}}" class="{{ class }} ack-button" type="{{ type }}" disabled="{{ disabled || selfDisabled }}" style="{{ style }}" )
    | {{#if state === "doing"}}
    div(style='display: inline-block; width: 20px; height: 20px; margin:0 ;padding: 0; -ms-transform: rotate({{ angle }}deg); -webkit-transform: rotate({{ angle }}deg); transform: rotate({{ angle }}deg)')
        icon-refresh
    | {{/if}}
    
    | {{#if state === "done"}}
    div(style='display: inline-block; width: 20px; height: 20px; margin: 0 ;padding: 0;')
        icon-ok-sign
    | {{/if}}
    
    | {{#if state === "error"}}
    div(
        style='display: inline-block; width: 20px; height: 20px; margin: 0 ;padding: 0;'
        )            
        icon-alert
        
    | {{/if}}
    
    | {{#if state === "normal"}}
    div(style='display: inline-block;visibility:hidden; width: 20px; height: 20px; margin: 0 ;padding: 0;')
        icon-refresh
    | {{/if}}

    | {{yield}}
