+iff('button')
    .ui.calendar.date-picker(style!="{{#if inline}}display: inline; {{/if}}")
        .ui.button(class="{{class}}") {{buttonText}} {{yield}}
+else
    .ui.calendar.date-picker 
        .ui.input.left.icon 
            i.calendar.icon 
            input(type="text" placeholder="Date/Time")
+endif        
