+partial('button')
    ack-button(
        class="{{class}}" 
        on-click="doAction"
        disabled="{{disabled}}"
        enabled="{{enabled}}") {{yield}}

+unless('hidden')    
    +iff('debug')
        h3.ui.header DEBUG LOGIN FORM
        .ui.form 
            .field 
                label Token 
                input(value="{{token}}")

            .field
                label Username 
                input(value="{{user}}")
                
            .field
                label Password 
                input(value="{{password}}")

            +if('auto')
                .ui.message.red Trying auto login

            +apply('button')
    +else 
        +apply('button')
    +endif
