todo(
    checklist="{{ todos }}"
    log="{{ log }}"
    on-completion="myhandler"
    on-timeout="myTimeoutHandler"
    ) My TODO list HEADER

h2 Log
ul
    +each('log')
        li
            span "{{ .action }}" action taken with id {{ .targetId }} on {{ unixToReadable(.timestamp) }}
