panel(title="Add new item")
    input(value="{{ newEntry.content }}" placeholder="content...")

    ack-button(
        on-buttonclick="addNewItem"
        ) Add New Item

    ul.list-group
        +each('checklist')
            li.list-group-item
                checkbox(
                    checked="{{#if .doneTimestamp !== null}}true{{else}}false{{/if}}"
                    on-statechange="stateChanged"
                    ) {{ .content }}

    ul
        +each('log')
            li
                span "{{ .action }}" action taken with id {{ .targetId }} on {{ unixToReadable(.timestamp) }}
