panel(title="{{ yield }}")
    input(value="{{ newEntry.content }}" placeholder="content...")

    ack-button(
        on-buttonclick="addNewItem"
        ) Add New Item

    br
    span {{ doneItemsLength }} out of {{ itemsLength }} items done.

    ul.list-group
        +each('checklist')
            li.list-group-item
                checkbox(
                    checked="{{ .isDone }}"
                    on-statechange="statechanged"
                    value="{{ .id }}"
                    async) {{ .content }}
