[submodule "tools/service-runner"]
	path = tools/service-runner
	url = https://github.com/aktos-io/service-runner
[submodule "src/lib/aktos-dcs"]
	path = src/lib/dcs
	url = git@github.com:aktos-io/aktos-dcs-node
