panel(type="info" title="ack-button")
    .content
        .row
            .col-md-12
                pre ack-button(on-buttonclick="testAckButton1" value="\{{ button.boundVal }}") MY BUTTON
            .col-md-12
                checkbox(checked="{{ button.show }}") Show/hide Bound component 1
        .row
            .col-md-6
                h3 Bound component1
                +if('button.show')
                    ack-button(state="{{button.state1}}" on-buttonclick="testAckButton1" value="{{ button.boundVal }}") MY BUTTON
                hr
                p
                    span Button will send
                    input(value="{{ button.boundVal }}" placeholder="this")
                    span value to here => #[tag {{ button.sendValue }}] after 3 seconds...
                p Button state: {{ button.state1 }}
            .col-md-6
                h3 Bound component2
                ack-button(on-buttonclick="testAckButton1" value="{{ button.boundVal }}") MY BUTTON2
                p Button will send "{{ button.boundVal }}" after click.
        .row
            .col-md-12
                h3 Unbound (free) instance
                ack-button(state="{{ button.unboundState }}" on-buttonclick="testAckButton2" value="my-test-value") MY BUTTON3
                p Button State: {{ button.unboundState }}
        .row
            .col-md-12
                h3 Unbound (free) info instance
                input(value="{{ button.infoTitle }}" placeholder="Info title")
                input(value="{{ button.infoMessage }}" placeholder="Info message")
                ack-button(state="{{ button.unboundStateInfo }}" on-buttonclick="testAckButton3" info-title="{{ button.infoTitle }}" info-message="{{ button.infoMessage }}" value="my-test-value") MY BUTTON4
                p Button State: {{ button.unboundStateInfo }}
        .row
            .col-md-6
                h3 Bound instance with confirmation
                ack-button(state="{{ button.unboundStateConfirm }}" on-buttonclick="testAckButton4" value="my-test-value") MY BUTTON5
                p Button State: {{ button.unboundStateConfirm }}
            .col-md-6
                +if('button.show')
                    h3 Bound instance with confirmation
                    ack-button(state="{{ button.unboundStateConfirm }}" on-buttonclick="testAckButton4" value="my-test-value") MY BUTTON5
                    p Button State: {{ button.unboundStateConfirm }}
