//-
    Match with Design Guide status:

        [x] 1. Example implementation
        [x] 2. Simple variable
        [x] 3. Unbound instances
        [x] 4. Bound instances and/or live feed
        [x] 5. {{#if }} ... {{/if}} block
        [ ] 6. Test on mobile
        [ ] 7. Change sizes
        [x] 8. Match theme
        [x] 9. This checklist

anchor date-picker
.ui.segments
    h3.ui.top.attached.block.header date-picker #[a(href="#date-picker") #[i.linkify.icon]]
    .ui.attached.segment
        pre date-picker(unix="\{{ datePicker.date1 }}")
    
    h3.ui.block.big.attached.header Examples

    .ui.attached.segment
        h3.header Show/hide test

        checkbox(checked="{{ datePicker.show }}") Show/hide Bound component 1
        +if('datePicker.show')
            date-picker(unix="{{ datePicker.date1 }}")
        p date-picker (1): unix (in ms.): {{ datePicker.date1  }}

    .ui.attached.segment
        h3.header Multiple instances 

        date-picker(unix="{{ datePicker.date1 }}")
        p date-picker (1): unix (in ms.): {{ datePicker.date1  }}

        date-picker(unix="{{ datePicker.date2 }}")
        p date-picker (2): unix (in ms.): {{ datePicker.date2  }}
