//-
    Match with Design Guide status:

        [ ] 1. Example implementation
        [ ] 2. Simple variable
        [ ] 3. Unbound instances
        [ ] 4. Bound instances and/or live feed
        [ ] 5. {{#if }} ... {{/if}} block
        [ ] 6. Test on mobile
        [ ] 7. Change sizes
        [ ] 8. Match theme
anchor dropdown-panel
.ui.segments
    h3.ui.top.attached.block.header dropdown-panel #[a(href="#dropdown-panel") #[i.linkify.icon]]
    .ui.segment
        h1 Description:
        p   dropdown-panel is a component that allows to overlay other elements

    .ui.segment
        .row
            h1 Example:
            +partial('dropdown-example')
                dropdown-panel
                    +partial('body')
                         span(style="color: blue;") dropdown-panel &nbsp
                    +partial('dropdown')
                        span &nbsp is opened here...
                        .ui.input 
                            input(value="{{ dropdownPanel.input}}" placeholder="Entry here...")
                        dropdown(data="{{ combobox.list1 }}" selected="{{ combobox.boundSelected }}" placeholder="my placeholder")
                
            span.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat.
                Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum vitae velit ac lacus consequat posuere at id erat. Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat.
                Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.This is a {{>dropdown-example}} in a line.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat.
                Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum vitae velit ac lacus consequat posuere at id erat. Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat.
                Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat.
                Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum vitae velit ac lacus consequat posuere at id erat. Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat.
                Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat.
                Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum vitae velit ac lacus consequat posuere at id erat. Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
