//-
    Match with Design Guide status:

        [ ] 1. Example implementation
        [ ] 2. Simple variable
        [ ] 3. Unbound instances
        [ ] 4. Bound instances and/or live feed
        [ ] 5. {{#if }} ... {{/if}} block
        [ ] 6. Test on mobile
        [ ] 7. Change sizes
        [ ] 8. Match theme
.ui.segments
    h3.ui.top.attached.block.header dropdown-panel
    .ui.segment
        h1 Description:
        p   dropdown-panel is a component that allows to overlay other elements

    .ui.segment
        .row
            h1 Example:
            span.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat.
                Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum vitae velit ac lacus consequat posuere at id erat. Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat.
                Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.This is a &nbsp
            dropdown-panel
                +partial('body')
                     span(style="color: red;") dropdown-panel &nbsp
                        //-checkbox(checked="{{checkbox.checked1}}")  Show/Hide Dropdown
                +partial('dropdown')
                    span &nbsp is opened here...
                    input(value="{{ dropdownPanel.input}}" placeholder="Entry here...")
                    dropdown(data="{{ combobox.list1 }}" selected="{{ combobox.boundSelected }}" placeholder="my placeholder")
            span.
                in a line.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat.
                Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum vitae velit ac lacus consequat posuere at id erat. Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat.
                Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat.
                Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum vitae velit ac lacus consequat posuere at id erat. Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat.
                Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat.
                Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Vestibulum vitae velit ac lacus consequat posuere at id erat. Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
