//-
    Match with Design Guide status:

        [x] 1. Example implementation
        [x] 2. Simple variable
        [x] 3. Unbound instances
        [x] 4. Bound instances and/or live feed
        [x] 5. {{#if }} ... {{/if}} block
        [x] 6. Test on mobile
        [ ] 7. Change sizes
        [ ] 8. Match theme
        [x] 9. This checklist

panel(type="info" title="example-component")
    .content
        .row
            .col-md-12
                pre example-component(age="\{{ exampleComponent.age }}" birth="\{{ exampleComponent.birth }}")
            .col-md-12
                // a checkbox to toggle one component instance ||meets 5||
                checkbox(checked="{{ exampleComponent.show }}") Show/hide Bound component 1
        .row
            col-md-4
                h3 Bound component 1
                // a component instance that is created on demand
                +if('exampleComponent.show')
                    example-component(age="{{ exampleComponent.age }}" birth="{{ exampleComponent.birth }}")
                    // simple ractive variables to be able to observe values ||meets 2||
                    p birth: {{ exampleComponent.birth }}
                    p age: {{ exampleComponent.age }}
            col-md-4
                //
                h3 Bound component 2
                example-component(age="{{ exampleComponent.age }}" birth="{{ exampleComponent.birth1 }}")
                p birth: {{ exampleComponent.birth }}
                p age: {{ exampleComponent.age }}

            col-md-4
                // Third instance is to prove it doesn't interfere with other instances ||meets 3||
                h3 Unbound (free) instance
                example-component(age="{{ exampleComponent.age2 }}" birth="{{ exampleComponent.birth2 }}")
                // simple ractive variables to be able to observe values
                p birth2: {{ exampleComponent.birth2 }}
                p age2: {{ exampleComponent.age2 }}
