//-
    Match with Design Guide status:

        [ ] 1. Example implementation
        [ ] 2. Simple variable
        [ ] 3. Unbound instances
        [ ] 4. Bound instances and/or live feed
        [ ] 5. {{#if }} ... {{/if}} block
        [ ] 6. Test on mobile
        [ ] 7. Change sizes
        [ ] 8. Match theme
        [ ] 9. This checklist
anchor input-field
.ui.segments
    h3.ui.top.attached.block.header input-field #[a(href="#input-field") #[i.linkify.icon]]
    .ui.attached.segment
        pre input-field(value="\{{ myValue }}" unit="seconds" placeholder="my place holder")

        .ui.ignored.message.
            Note that changing number values by scrolling is intentionally disabled.

    .ui.segment
        .ui.header Simple inline
        p.
            lorem ipsum #[input-field(value="{{ inputField.value }}" unit="dakika" placeholder="hello!")]
            sit amet... #[strong value is: {{ inputField.value }}]

    .ui.segment
        .ui.header input-field with dropdown
        | lorem ipsum
        input-field(value="{{ inputField.value }}" placeholder="hello!")
            dropdown(data="{{ combobox.list1 }}" selected="{{ combobox.boundSelected }}" )
        | sit amet...

    .ui.segment
        .ui.header Test Responsiveness
        .ui.mini.header 4 column grid
        .ui.equal.width.stackable.grid
            +each('[0, 1, 2, 3]')
                .four.wide.column
                    input-field(value="{{ inputField.value }}" placeholder="hello!")
                        dropdown(data="{{ combobox.list1 }}" selected="{{ combobox.boundSelected }}" )

        .ui.mini.header 6 column grid
        .ui.stackable.six.column.grid
            +each('[0, 1, 2, 3, 4, 5]')
                .four.wide.column
                    input-field(value="{{ inputField.value }}" placeholder="hello!")
                        dropdown(data="{{ combobox.list1 }}" selected="{{ combobox.boundSelected }}" )
