//-
    Match with Design Guide status:

        [ ] 1. Example implementation
        [ ] 2. Simple variable
        [ ] 3. Unbound instances
        [ ] 4. Bound instances and/or live feed
        [ ] 5. {{#if }} ... {{/if}} block
        [ ] 6. Test on mobile
        [ ] 7. Change sizes
        [ ] 8. Match theme
        [ ] 9. This checklist
anchor print-button
.ui.segments
    h3.ui.top.attached.block.header print-button
    .ui.attached.segment
        pre.
            print-button(source-class="\{{ printButton.someTmpVariable }}" on-print="myPrint" value="\{{ printButton.someValue }}")
                span Print this!

            .print-area(class="\{{ printButton.someTmpVariable }}").
                Here is something to print!
    .ui.segment
        .ui.big.header Example

        .ui.action.input
            input(value="{{ printButton.someValue }}")
            print-button.right.labeled.teal.icon.button(
                data-source="{{ printButton.someTmpVariable }}"
                value="{{ printButton.someValue }}"
                on-print="myPrint"
                )
                icon.print
                | Print

        .ui.header This is the print area (excluding this line)
        .ui.message(data-source="{{ printButton.someTmpVariable }}").
            Here is something to print!
