//-
    Match with Design Guide status:

        [ ] 1. Example implementation
        [ ] 2. Simple variable
        [ ] 3. Unbound instances
        [ ] 4. Bound instances and/or live feed
        [ ] 5. {{#if }} ... {{/if}} block
        [ ] 6. Test on mobile
        [ ] 7. Change sizes
        [ ] 8. Match theme
        [ ] 9. This checklist

panel(type="info" title="print-button")
    .content
        .row
            .col-md-12
                pre.
                    print-button(source-class="\{{ printButton.someTmpVariable }}" on-print="myPrint" value="\{{ printButton.someValue }}")
                        span Print this!

                    .print-area(class="\{{ printButton.someTmpVariable }}").
                        Here is something to print!

            .col-md-12
                input(value="{{ printButton.someValue }}")
                print-button(data-source="{{ printButton.someTmpVariable }}" value="{{ printButton.someValue }}" on-print="myPrint")
                    span Print this!

                .print-area(data-source="{{ printButton.someTmpVariable }}").
                    Here is something to print!
