.ui.segments
    h3.ui.top.attached.block.header progress #[a(href="#progress") #[i.linkify.icon]]
    .ui.attached.segment
        progress(value="{{progress.one.curr}}" max="{{progress.one.max}}")
        progress.warning(value="{{progress.one.curr}}" max="{{progress.one.max}}")
        progress.top.attached.blue(value="{{progress.one.curr}}" max="{{progress.one.max}}")
            
        h2.ui.horizontal.divider.header 
            i.wrench.icon 
            | test inputs 
        .ui.input: input(value="{{progress.one.curr}}" type="number")
