//-
    Match with Design Guide status:

        [ ] 1. Example implementation
        [ ] 2. Simple variable
        [ ] 3. Unbound instances
        [ ] 4. Bound instances and/or live feed
        [ ] 5. {{#if }} ... {{/if}} block
        [ ] 6. Test on mobile
        [ ] 7. Change sizes
        [ ] 8. Match theme
        
anchor r-table
.ui.segments
    h3.ui.top.attached.block.header r-table #[a(href="#r-table") #[i.linkify.icon]]
    .ui.segment
        h1 Description:
        p  r-table is a responsive-table to use in place of #[code table] element
    .ui.segment
        r-table(class="striped")
            r-head 
                r-row
                    r-head-col Id 
                    r-head-col Name 
                    r-head-col Test combobox 
            r-body
                +each('combobox.list1')
                    r-row
                        r-col {{ .id }}
                        r-col Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat. Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
                        r-col
                            input-field(value="{{ inputField.value }}" placeholder="hello!")
                                dropdown(data="{{ combobox.list1 }}" selected="{{ combobox.boundSelected }}")


    h3.ui.top.attached.block.header Table inside table 
    .ui.segment 
        r-table
            r-head 
                r-row
                    r-head-col Id 
                    r-head-col Name 
                    r-head-col Test combobox 
            r-body 
                r-row
                    r-col {{ .id }}
                    r-col Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat. Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
                    r-col
                        input-field(value="{{ inputField.value }}" placeholder="hello!")
                            dropdown(data="{{ combobox.list1 }}" selected="{{ combobox.boundSelected }}")
                r-row
                    r-col {{ .id }}
                    r-col Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat. Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
                    r-col
                        span table inside table 
                        r-table(class="ui inverted orange padded celled striped table")
                            r-head 
                                r-row
                                    r-head-col Id 
                                    r-head-col Name 
                                    r-head-col Test combobox 
                            r-body
                                r-row
                                    r-col {{ .id }}
                                    r-col Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat. Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
                                    r-col
                                        input-field(value="{{ inputField.value }}" placeholder="hello!")
                                            dropdown(data="{{ combobox.list1 }}" selected="{{ combobox.boundSelected }}")
                                r-row
                                    r-col {{ .id }}
                                    r-col Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat. Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
                                    r-col
                                        input-field(value="{{ inputField.value }}" placeholder="hello!")
                                            dropdown(data="{{ combobox.list1 }}" selected="{{ combobox.boundSelected }}")
                                r-row
                                    r-col {{ .id }}
                                    r-col Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat. Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
                                    r-col
                                        input-field(value="{{ inputField.value }}" placeholder="hello!")
                                            dropdown(data="{{ combobox.list1 }}" selected="{{ combobox.boundSelected }}")

                r-row
                    r-col {{ .id }}
                    r-col Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae velit ac lacus consequat posuere at id erat. Pellentesque sit amet rhoncus ipsum, a lacinia ipsum.
                    r-col
                        input-field(value="{{ inputField.value }}" placeholder="hello!")
                            dropdown(data="{{ combobox.list1 }}" selected="{{ combobox.boundSelected }}")

    
