anchor rt-components
.ui.segments
    h3.ui.top.attached.block.header rt-components #[a(href="#rt-components") #[i.linkify.icon]]
    .ui.attached.segment
        pre rt-button
        
    h3.ui.block.big.attached.header Examples
    .ui.attached.segment
        h3.header Buttons has icons representing their states 
        rt-button.green(state="" topic="my-test-plc.testOutput" value="{{rtButton.test1}}") 
            | Button Text 
            +iff('rtButton.test1')
                span(style="color: red") (press to turn on)
            +else
                span(style="color: yellowgreen") (press to turn off)
            +endif
            
        .ui.list
            +each('[0, 1, 2, 3]')
                .item
                    led.mini.avatar(topic="my-test-plc.testInput{{.}}")
                    .content
                        a.header Input.{{.}}
                        .description This is input number {{.}}

        p 
            b my-test-plc.testLevel1: {{rtComponents.test2}}
            sync(value="{{rtComponents.test2}}" topic="my-test-plc.testLevel1")

        h3.header Checkbox        
        checkbox(value="{{rtButton.test1}}")
            | My RT Checkbox
            sync(value="mahmut" topic="hello.world")
                
        

    
