.ui.segments
    h3.ui.top.attached.block.header rt-button #[a(href="#rt-button") #[i.linkify.icon]]
    .ui.attached.segment
        pre rt-button
        
    h3.ui.block.big.attached.header Examples
    .ui.attached.segment
        h3.header Buttons has icons representing their states 
        rt-button.green(state="" topic="hello.world" value="{{rtButton.test1}}") Button Text
        
        input-field(value="{{rtButton.test1}}") State

        h3.header Checkbox
        
        checkbox(value="{{rtButton.test1}}")
            | My RT Checkbox
            sync(value="mahmut" topic="hello.world")
                
        

    
