panel(type="info" title="search-combobox")
    .content
        .row
            .col-md-12
                pre search-combobox(data="\{{ list }}" selected="\{{ x }}")
        .row
            .col-md-12
                checkbox(checked="{{ combobox.show }}") Show/hide combobox Bound component1
        row
            col-md-4
                h3 Bound component1
                +if('combobox.show')
                    search-combobox(data="{{ combobox.list1 }}" selected="{{ combobox.boundSelected }}")
                    p selected: {{combobox.boundSelected}}
            col-md-4
                h3 Bound component2
                search-combobox(data="{{ combobox.list1 }}" selected="{{ combobox.boundSelected }}")
                p selected: {{combobox.boundSelected}}
            col-md-4
                h3 UnBound (free) instance
                search-combobox(data="{{ combobox.list2 }}" selected="{{ combobox.unboundSelected }}")
                p selected: {{ combobox.unboundSelected }}

    h3 With input group
    .input-group
        input.form-control(value="{{ combobox.amount }}")
        span.input-group-btn
            search-combobox(data="{{ combobox.list1 }}" selected="{{ combobox.boundSelected }}")

    h3 Test cases
    h5 Original data: {{JSON.stringify(combobox.selected)}}
    ol
        li.
            try: change selected from search-combobox &nbsp
            expected: selected is changed to desired data &nbsp
            result: original data is not changing

    |{{#each combobox.selected:i}}
    col-md-4
        search-combobox(data="{{ comboboxList(combobox.selected) }}" selected="{{ combobox.selected[i].id }}")
        p selected: {{ combobox.selected[i].id }}
    |{{/each}}
