panel(type="info" title="search-combobox")
    .content
        .row
            .col-md-12
                pre search-combobox(data="\{{ list }}" selected="\{{ x }}")
        .row
            .col-md-12
                checkbox(checked="{{ combobox.show }}") Show/hide combobox Bound component1
        .row
            .col-md-4
                h3 Bound component1
                +if('combobox.show')
                    search-combobox(data="{{ combobox.list1 }}" selected="{{ combobox.boundSelected }}")
                    p selected: {{combobox.boundSelected}}
            .col-md-4
                h3 Bound component2
                search-combobox(data="{{ combobox.list1 }}" selected="{{ combobox.boundSelected }}")
                p selected: {{combobox.boundSelected}}
            .col-md-4(style="border: 1px dashed black")
                h3 UnBound (free) instance
                quote(style="background-color: pink") This instance fits width of its container
                search-combobox(data="{{ combobox.list2 }}" selected="{{ combobox.unboundSelected }}" fit-width)
                p selected: {{ combobox.unboundSelected }}

    h3 With input-field
    p
      | "...amount of product X is
      input-field(value="{{ combobox.amount }}")
        search-combobox(data="{{ combobox.list1 }}" selected="{{ combobox.boundSelected }}")
      | ..."

    h3 Test Case: Supply search-combobox data from a function
    p default selected data is "{{combobox.selected[0].id}}" for the search-combobox.
    ul
        li change search-combobox' selected item here:
            search-combobox(data="{{ comboboxList(combobox.selected) }}" selected="{{ combobox.selected[0].id }}")

        li
            ol
                +each('combobox.list2')
                    li if you select "{{.name }}", you should see "{{.id}}" in here: "{{combobox.selected[0].id}}"
