anchor text-button
.ui.segments
    h3.ui.top.attached.block.header text-button #[a(href="#text-button") #[i.linkify.icon]]
    .ui.attached.segment
        p.
            Text button is an #[code ack-button] that sends text value as if the value is 
            #[code ack-button]'s value. 
        
    .ui.attached.segment
        h4.header Usage
        pre text-button(on-buttonclick="testAckButton1" value="additional value") MY BUTTON
    
    h3.ui.block.big.attached.header Examples
    .ui.attached.segment
        text-button.olive(on-buttonclick="textButtonTest" value="my additional value") Test button
    
