<!DOCTYPE html>
<html lang="en-GB" moznomarginboxes mozdisallowselectionprint>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <link rel="icon" href="/favicon.ico">
    <title>html livescript template</title>
    <script src="js/vendor.js"></script>
    <link rel="stylesheet" href="css/vendor.css">
  </head>
  <body>
    <div id="main-output">Loading...</div>
    <script src="app.js"></script>
  </body>
</html>
