<div data-name="{{name}}"
    id="{{name}}"
    class="{{class}}"
    style="
        {{#unless visible}} display: none; {{/unless}}
        {{#if hidden}}visibility: hidden; {{/if}}
        margin: 0; padding: 0; border: 0;

        /* additional styling */
        {{style}}
        "
    >
    {{#if renderedBefore}}
        <div class="{{name}} scene"
            style="
                margin: 0;
                padding: 0;
                padding-top: {{offset !== null ? offset : @global.topOffset}}px; /* for top menu */
                border: 0;
                "
            >
            {{>content}}
        </div>
    {{/if}}
</div>
