ack-button.aea-checkbox(
    on-buttonclick="_statechange"
    class!="                        \
        {{^transparent}}basic{{/}}  \
        gray {{ class }}            \
        "
    style="{{ style }} {{#transparent}}background-color: transparent;{{/}} text-align: left; "
    type="{{type}}"
    custom
    )
    +iff("checkState === 'checked'")
        icon.checkmark.box
    +elif("checkState === 'unchecked'")
        icon.square.outline
    +elif("checkState === 'doing'")
        i.icon #[.ui.active.mini.inverted.loader]
    +endif
    | {{yield}}
        
