h2 Müşteriler:
order-table(
    settings="{{ customersSettings }}"
    db="{{ db }}"
    view="customers/getCustomers"
    gen-entry-id="{{ genEntryId }}"
    )
    +partial('addnewTitle')
        | Müşteri Ekle
    +partial('header')
    +partial('viewForm')
        h3 Müşteri: {{ curr.name }}
        
    +partial('editForm')
        panel(title="Müşteri" type="primary")
            //- {{ JSON.stringify(curr) }}
            form-vertical
                form-group
                    span Müşteri Adı: 
                    input(value="{{ curr.name }}" )
                    assign(if-null="true" input="{{ 'client-id-' + curr.name.toLowerCase() }}" output="{{ curr.key }}")
            btn(on-buttonclick="newOrderClose") Kapat!
            btn(on-buttonclick="addNewOrderSave") Kaydet {{saving}}
