h1 Sevkiyat


p Yapılacaklar: 

ol
    li Tamamlanan siparişleri göster 
    li Düzenleme ekranında barkod okuma yeri olsun
    li Tüm barkodlar tamamsa "sevkiyata hazır" etiketi yapıştır
    li "TESLIM ALINDI" butonu ekle 
