h1 Hoşgeldiniz...
+unless('login.ok')
    p Burası ana sayfa...
    p Lütfen giriş yapınız. 
    
+if('login.ok')
    :markdown
        Sistemimiz test uçuşundadır. 
        
        Bu esnada gördüğünüz her türlü problemi doğrudan [Destek](#/support) 
        sayfası üzerinden bildirebilirsiniz. 
        
        İyi uçuşlar. 
