h1 Ürün kısaltmaları

input(value="{{ aaa }}")
div
    search-combobox(data="{{ productList }}" selected-name="{{ bbb }}")

p Bundan sonra {{ aaa }} isimli ürün istediğinizde size {{ bbb }} göndereceğiz. 
