h1 Destek 

:markdown
    Burası destek sayfasıdır. Sistemle ilgili tüm hata bildirimi ve özellik ekleme taleplerinizi
    buradan yapabilirsiniz. (Yedek: info@aktos.io)

    Neler hatadır? 
    
    * Yazılım güncellemesi dışında herhangi bir sebepten dolayı sayfayı yenilemeniz gerekiyorsa
    * Bir şeyi aramak/bulmak için tahmin yürütmeniz gerekiyorsa 
    * Sistemle ilgili herhangi bir soruyu bir arkadaşınıza sorup öğrenmeniz gerekiyorsa 
    * Sayfalar arasında rahat gezinemiyorsanız 
    * Sayfalar arasında hızlı gezinemiyorsanız
    * Tarayıcınız/bilgisayarınız bir anda kapandığında, sistemi tekrar açtığınızda 
      az önce girmekte olduğunuz veriler kaybolmuşsa
    
    Hata vardır, bildiriniz. 



//- 
    order-table(
        settings="{{ support }}"
        db="{{ db }}"
        view="support/issues"
        gen-entry-id="{{ genEntryId }}"
        )
        +partial('addnewTitle')
            | Yeni İstek
        
        +partial('header')
            h3 Filtreler
        +partial('viewForm')
            h1 {{ curr.client }}
            .row 
                .col-md-8
                    h1 | {{ .subject }} | 
                    ol 
                        +each('curr.entries:i')
                            li {{ .body }} 
                        li 
                            ace-editor(code="{{ curr.entries[i+1].body }}")
                            btn(on-buttonclick="newOrderClose") Kapat!
                            btn(on-buttonclick="addNewOrderSave") Kaydet {{saving}}
                            
        +partial('editForm')
            panel(title="Ticket {{curr._id}}" type="primary")
                form-vertical
                    form-group
                        ace-editor(code="{{ curr.entries[i+1].body }}")
                    form-group
                        btn(on-buttonclick="newOrderClose") Kapat!
                        btn(on-buttonclick="addNewOrderSave") Kaydet {{saving}}
