.jq-push-button {
  /*max-width: 150px; 
   */
  width: auto; 
  height: auto;
}

.jq-push-button__button {
  /*max-width: 150px; 
   */
  width: auto; 
  height: 100%; 
  margin: 0; 
  padding: auto;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}