+component('ddoc-editor')
    form-horizontal
        form-group
            row
                col-sm-2
                    b-label Document ID
                col-sm-4
                    input.form-control(value="{{designDocument._id}}")
                col-sm-6    
                    btn-group
                        btn(on-buttonclick="getDesignDocument" type="primary").
                            Get Document!
                        btn(on-buttonclick="putNewDesignDocument" type="danger").
                            New Document!
        ace-editor(code="{{ designDocument.livescript }}" mode="livescript" theme="xcode")
    btn-group
        btn(on-buttonclick="putDesignDocument" type="success").
            Put Auth Document!
        btn(on-buttonclick="compileDesignDocument" type="info").
            Compile
    ace-editor(code="{{ designDocument.javascript }}" mode="javascript" theme="xcode")
