.ui.floating.dropdown.right.labeled.search.icon.button(class="{{#if fitWidth}}fluid{{/if}}")
    i.dropdown.icon
    span.text {{ placeholder }}
    .menu
        .scrolling.menu
            +each('data')
                .item(data-value="{{.id}}") {{.name}}
