
btn(
    on-buttonclick="toggleChecked"
    tooltip="Düzenle"
    style="{{ style }}"
    )
    .pull-left
        | {{#if checked}} <icon-check/> {{else}} <icon-unchecked /> {{/if}}
        | {{ yield }}
