btn(
    on-buttonclick="click"
    title="{{reason}}"
    class="{{ class }} rt-button"
    )
    +iff('state === "on"')
        icon.checkmark.box
    +elif('state === "off"')
        icon.square.outline
    +endif
    | {{yield}}
