include ../../templates/mixins.pug
.navbar(role="navigation")
    ul.nav.nav-pills.nav-stacked
        li
            btn(on-buttonclick='toggleMenu')
                span(style='font-size: 1.5em')
                    icon-th-list

        +each('menu')
            li
                btn(href="{{ .url }}")
                    span(align="left")
                        icon-th-list
                        | {{#if showMenu}}{{ .title }}{{/if}}
