+component('menu')
    table
        tr
            td(style="{{#if hideMenuValue}}width:{{showMenu ? '200px' : '80px'}}{{/if}}")
                div(style='position: fixed')
                    btn(on-buttonclick='hideMenu')
                        p(style='font-size: 1.5em', align='left')
                            | <icon-inbox/>
                div(style='{{#if hideMenuValue}}position: fixed; visibility:visible{{else}}visibility: hidden{{/if}};height:100%; overflow-y: auto')
                    div(style='display:inline-block; height:1px')
                        | {{#if hideMenuValue}}
                        btn-group-vertical
                            btn(on-buttonclick='toggleMenu')
                                p(style='font-size: 1.5em', align='left')
                                    icon-th-list
                            | {{#menu:i}}
                            btn(href="{{.['url']}}", type='primary')
                                | {{#if showMenu}} 
                                p(align='left')
                                span.glyphicon(class='glyphicon-{{icon}}', aria-hidden='true')
                                | {{title}}
                                | {{else}} 
                                span.glyphicon(class='glyphicon-{{icon}}', aria-hidden='true')
                                | {{/if}}
                            | {{/menu}}
                            btn(on-buttonclick='hideMenu')  {{#if hideMenuValue}}Hide{{else}}Show{{/if}}
                        | {{/if}}
            td(style='vertical-align:top; padding-left: 80px; {{#if hideMenuValue}}{{else}}padding-top: 100px{{/if}}')
                page-header
                    h1
                        | Index Page 
                        small aktos.io
