+component('menu')
    // 
        btn-group-vertical
            btn(on-buttonclick='hideMenu')
                span(style='font-size: 1.5em')
                    icon-inbox
            btn(on-buttonclick='toggleMenu')
                span(style='font-size: 1.5em')
                    icon-th-list
            +each('menu')
                btn(href="{{ .url }}", type='primary').
                    {{#if .icon}}
                        #[span.pull-left(class='glyphicon glyphicon-{{ .icon }}')] 
                    {{else}}
                        #[span.pull-left(class='glyphicon glyphicon-option-horizontal')] {{#if showMenu}}{{ .title }}{{/if}}
                    {{/if}}
                    
                        
            btn(on-buttonclick='hideMenu') {{#if hideMenuValue}}Hide{{else}}Show{{/if}}



    .navbar(role="navigation")
        ul.nav.nav-pills.nav-stacked 
            li
                btn(on-buttonclick='toggleMenu')
                    span(style='font-size: 1.5em')
                        icon-th-list

            +each('menu')
                li
                    btn(href="{{ .url }}") 
                        span(align="left")
                            icon-th-list 
                            | {{#if showMenu}}{{ .title }}{{/if}}
        
// 
   <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
     <ul class="dropdown-menu" role="menu">
      <li><a href="#">Sub Menu1</a></li>
      <li><a href="#">Sub Menu2</a></li>
      <li><a href="#">Sub Menu3</a></li>
      <li class="divider"></li>
      <li><a href="#">Sub Menu4</a></li>
      <li><a href="#">Sub Menu5</a></li>
     </ul>
   </li>
