mixin if(condition)
    != '{{#if ' + condition + '}}'
    block
    != '{{/if}}'

mixin unless(condition)
    != '{{#unless ' + condition+ '}}'
    block
    != '{{/unless}}'

mixin each(name)
    != '{{#each ' + name + '}}'
    block
    != '{{/each}}'

mixin with(name)
    != '{{#with ' + name + '}}'
    block
    != '{{/with}}'

mixin partial(name)
    != '{{#partial ' + name + '}}'
    block
    != '{{/partial}}'

mixin component(name)
    != '<script id="' + name  + '" type="text/ractive">'
    block
    != '</script>'
