img.ui.image(src="/{{type}}/{{# state}}on{{else}}off{{/}}.svg" class="{{class}}")

//- preload all images 
img.ui.image.hidden(src="/{{type}}/on.svg")
img.ui.image.hidden(src="/{{type}}/off.svg")
    
    
    
    
