//- preload all images (should be above `img` tag)
+each('["on", "off"]')
    div(style="display: none; background: url(/{{type}}/{{.}}.svg)")

//- actual led 
img.ui.image.led(src="/{{type}}/{{innerState}}" class="{{class}}")

//- the sync component that updates status of led 
sync(value="{{ state }}" topic="{{topic}}")

    
    
    
    
