include ../../templates/mixins.jade

+partial('jq-push-button')
  .jq-push-button
    button.jq-push-button__button.no-shadow(
      style="{{ .connected? '' : 'border: 1px dashed red' }}"
      type="button"
      ) 
      | {{ .label ? .label : .pin_name }} {{ .wid }}
