include ../../templates/mixins.jade

+partial('jq-push-button')
  button.jq-push-button.ui-focus(
    style="{{ .connected? '' : 'border: 1px dashed red' }}"
    type="button"
    ) 
    | {{ .label }}
