.jq-push-button {
  /*max-width: 150px; 
   */
  width: auto; 
  height: auto; 
}

.jq-push-button__button {
  /*max-width: 150px; 
   */
  width: auto; 
  height: 100%; 
  margin: 0; 
  padding: auto; 
}