include ../../templates/mixins.jade

+partial('jq-push-button')
  .jq-push-button
    button.jq-push-button__button.ui-focus(
      style="{{ .connected? '' : 'border: 1px dashed red' }}"
      type="button"
      ) 
      | {{ .label }} {{ .connected }}
