.row
    .col-md-2.col-xs-2  
        p Show/hide bar-chart Bound component1
        input(type="checkbox" checked="{{ bar.show }}")
    .col-md-3.col-xs-5
        +if('bar.show')
            h3 Bound component1
            bar-chart(data="{{ bar.bound }}" )
            p data: 
                +each("bar.bound")
                    |{{ .amount}},
       .col-md-3.col-xs-5
        h3 Bound component2 
        bar-chart(data="{{ bar.bound }}" )
        p data: 
            +each("bar.bound")
                |{{ .amount}},                
    .col-md-3
        h3 Unbound (free) instance
        bar-chart(data="{{ bar.unbound }}" )
        p data: 
            +each("bar.unbound")
                |{{ .amount}},
