include ./analog-display/widget.jade
include ./b-progress-bar/widget.jade
include ./b-stacked-progress/widget.jade
include ./line-graph/widget.jade
include ./jq-flipswitch-v2/widget.jade
include ./push-button/widget.jade
include ./slider/widget.jade
include ./status-led/widget.jade
include ./switch-button/widget.jade
include ./switch-button-basic/widget.jade
include ./test-widget/widget.jade
include ./textbox/widget.jade
include ./thermometer/widget.jade
include ./toggle-switch/widget.jade

include ./other-partials.jade
