// a
include ./analog-display/widget.jade

// b 
include ./b-progress-bar/widget.jade
include ./b-stacked-progress/widget.jade

// j
include ./jq-flipswitch-v2/widget.jade
include ./jq-checkbox/widget.jade

//k
include ./knob/widget.jade

// l
include ./line-graph/widget.jade
include ./login/widget.jade

// n
include ./numeric-keyboard/widget.jade

// p 
include ./push-button/widget.jade

// s
include ./slider/widget.jade
include ./status-led/widget.jade
include ./switch-button/widget.jade
include ./switch-button-basic/widget.jade

// t
include ./test-widget/widget.jade
include ./textbox/widget.jade
include ./thermometer/widget.jade
include ./toggle-switch/widget.jade
include ./table/widget.jade


//- ----------------------------

include ./other-partials.jade
