#aktos-dcs(data-theme="b", data-role="page").
  <!-- aktos-dcs -->
    <section data-background="img/aktos-dcs/proje-kapak2.jpg">
        <h2>aktos-dcs</h2>
        <p>Dağıtılmış Kontrol Sistemleri (DCS) için yazılım altyapısıdır. </p>
        
        <p>PC üzerinde çalışır. PLC ve Motion Control sistemlerinin yerini alır.</p>
    </section>
    <section data-background="img/aktos-dcs/neden-dcs.png.jpg">
            <h2>Neden DCS</h2>

            <p class="fragment">
                PLC (Programmable Logic Control) tren gibidir. Daha fazla vagon
                eklemek gerekirse bir yerden sonra daha büyük bir lokomotif gerekir.
                Eski lokomotif sökülür, yerine yenisi takılır. Sökülen lokomotif başka
                bir yerde kullanılana kadar atıl kalır.
            </p>

            <p class="fragment">
                DCS, metro gibidir. Daha fazla vagon eklemek gerekse de her vagonun
                kendi motoru olduğu için sistemdeki herhangi bir şeyin
                yenisiyle değiştirilmesi gerekmez. Arada bir tanesi arızalansa bile kimse
                fark etmez, diğerleri bu hatayı kapatır. Yolda giderken yeni vagon
                eklenebilir.
            </p>
    </section>
    <section data-background="img/aktos-dcs/engineering.png.jpg">
        <h2>Nerede kullanılır</h2>
        <ul class="fragment">
            <li> Fabrika ve tesis otomasyonları </li>
            <li> Yüksek işlemci gücü veya matematik gereken kontroller</li>
            <li> Görüntü işlemeye dayalı otomasyon sistemleri </li>
            <li> Ülke geneline yayılmış istasyonların izlenmesi, kontrolü ve raporlanması </li>
            <li> <b>Ülke çapında</b> enerji izleme ve kompanzasyon sistemleri için telemetri </li>
            <li> Laboratuvar deneylerinin otomasyonu </li>
            <li> Stok, üretim ve kalite takibi otomasyonu</li>
        </ul>
    </section>
    <section data-background="img/aktos-dcs/properties.png.jpg">
            <h2> Sistem özellikleri </h2>
            <img src="img/aktos-dcs/aktos-dcs-kapak2.png" />
        </section>
        <section data-background="img/aktos-dcs/realtime.png.jpg">
            <h3> Gerçek zamanlı iletişim </h3>
            <p>Sistemdeki olaylar yönetim ekranına (SCADA) gerçek zamanlı olarak yansıtılır</p>
    </section>
    <section data-markdown data-background="img/aktos-dcs/brand-independent.jpg">
        
            #### Markadan bağımsız
            **aktos-dcs**'in hem kontrol hem SCADA sistemi müşterinin istediği **herhangi bir marka** ([aktos-io](#/aktos-io), Phoenix Contact, Siemens, GE Fanuc, Omron, ABB, Allen-Bradley, OEM vs.) üzerine kurulabilir. Tek bir sistemde bile birden fazla markanın ürünleri kullanılabilir.
        
    </section>
    <section data-markdown data-background="img/aktos-dcs/tr-dsl.png.jpg">
        
            #### Türkçe otomasyon dili
            İşlem senaryosunun sıklıkla değiştiği ve ar-ge yapılan yerlerde (çamaşırhane, atık su arıtma tesisi, kimyasal laboratuvarlar vs.) bizzat işlemi bilen kişi tarafından, programcıya gerek kalmadan **Türkçe** yapma imkanı tanır.

            (bkz. [CCA State Chart][1]) ve (bkz. [cca-pdl][2])

            [1]: https://github.com/ceremcem/ccasc
            [2]: https://ceremcem.net/projects/cca-pdl

        
    </section>
    <section data-markdown data-background="img/aktos-dcs/advanced-exception-handling.png.jpg">
        
            #### Gelişmiş hata yönetimi

            Modüllerden herhangi birinde yazılım geliştiricisinden kaynaklanan herhangi bir hata (ör. sıfıra bölme hatası) olması durumunda modül bir önceki sürümünü devreye alabilir, kendi hatasını raporlayabilir, kısa mesaj gönderebilir.
        
    </section>
    <section data-markdown data-background="img/aktos-dcs/large-projects.png.jpg">
        
            #### Geniş çaplı projeler
            1000'den fazla giriş-çıkış içeren, 10.000'lerce kullanıcısı olabilecek genişlikteki otomasyon ve telemetrilere uygundur.
            
    </section>
    <section data-markdown data-background="img/aktos-dcs/compatible-protocols.png.jpg">
        
            #### Endüstriyel protokoller

            **aktos-dcs**, belgelendirilmiş (Modbus, CanOpen, Hostlink, Memobus vs.) endüstriyel protokolleri kullanılır. Böylece mevcut PLC ve DCS sistemleriyle uyumlu çalışır.
        
    </section>
    <section data-markdown data-background="img/aktos-dcs/fault-tolerant.png.jpg">
        
            #### Yüksek hata toleransı

            Modüllerin herhangi birinde oluşacak herhangi bir hata sistemin tamamının durmasına neden olmaz. Modüller böyle durumlarda acil durum prosedürlerini işletme imkanına sahiptir.
        
    </section>
    <section data-markdown data-background="img/aktos-dcs/identity-options.png.jpg">
        
            #### Geniş kimlik doğrulama araçları desteği

            Uygun donanımı ilave etmek suretiyle her türlü kimlik denetimini destekler.
        
    </section>
    <section data-markdown data-background="img/aktos-dcs/plug-n-play.png.jpg">
        
            #### Kolay internet bağlantısı

            Her türlü internet bağlantısını kullanabilir:

            * Endüstriyel modem
            * USB 3G Modem
            * Ethernet (modem ayarına gerek yoktur.)

            
    </section>

    <section data-markdown data-background="img/aktos-dcs/multiple-language.png.jpg">
        
            #### Çoklu programlama dili desteği

            Projeler aynı anda Python, Java, JavaScript, C, C++, C#, Ruby, vb. bir ya da birden fazla dille geliştirilebilir.

            Programcı hangi dili isterse onu kullanır.
        
    </section>






















    <section data-markdown data-background="img/aktos-dcs/remote-support.png.jpg">
        
            #### Gelişmiş uzaktan erişim ve uzaktan destek

            Geliştiriciler sistemin bütün ayrıntılarına ulaşacak imkana sahiptirler.
        
        <aside class="notes">
            Sistemde aynı anda hem eski, hem yeni sürüm yazılım çalışır.
            Yeni sürümdeki modülün doğru çalışacağı anlaşıldıktan sonra yetkilendirilmesi mümkündür.
        </aside>
    </section>
    <section data-markdown data-background="img/aktos-dcs/simulation.png.jpg">
        
            #### Simülasyon desteği
            Çok daha hızlı, kolay ve kaliteli kod üretilmesi için kodlar test edilmelidir.

            Test etmenin en önemli yöntemi simülasyondur.
        
        <aside class="notes">

                                            * Geliştirme ve güncelleme esnasında ortaya çıkan birçok **kriz daha oluşmadan önlenebilir**.
                                            * Sistemle ilgili donanım henüz geliştiriciye ulaşmamışken bile yazılımın geliştirilmesine başlanabilir.
        </aside>
    </section>











    <section data-markdown data-background="img/aktos-dcs/distributed-mcu.png.jpg">
        
            #### Yedekli ve dağınık çalışmaya uygun mimari
            Sistemdeki yük paylaşılır, yeni eklemelerle sistem daha güçlü ve kabiliyetli hale gelir.

            Hata her zaman olur. Önemli olan sistemin durmamasıdır.
        
    </section>
    <section data-markdown data-background="img/aktos-dcs/live-hw-change.png.jpg">
        
            #### Canlı sistemde donanım ekleme-çıkartma desteği
            Çalışır haldeki bir sistemin kapatılmasına gerek kalmadan yeni cihazların eklenmesi veya bozulan bir donanımın yenisiyle değiştirilmesi mümkündür.
            
    </section>
    <section data-markdown data-background="img/aktos-dcs/async-dev.png.jpg">
        
            #### Asenkron proje geliştirme imkanı
            Her şeyin baştan düşünülmesi zorunluluğu yoktur. Sistem sonradan genişletilebilir. Bir projeyi aynı anda birden fazla geliştirici uyum içinde geliştirebilir.
        
    </section>

    <section data-markdown data-background="img/aktos-dcs/open-source.png.jpg">
        
    #### Açık kaynak kodlu
    Sistemde kullanılan yazılımların tamamı açık kaynak kodludur. **Daha çok** insan tarafından kullanılır ve **test edilir**, açık kaynak kodlu yazılımlar için geliştirici bulmak daha kolaydır.
        
    </section>















    <section data-markdown data-background="img/aktos-dcs/documented.png.jpg">
        
    #### Belgelendirilmiş API

    Modül yazmak ve mevcut modülleri kullanmak için gereken belgelendirme çalışması yapılmıştır. Geliştiriciler ihtiyaç duydukları bilgilere kolaylıkla ulaşır.
        
    </section>
    <section data-markdown data-background="img/aktos-dcs/tm.png.jpg">
    #### Yerli üretim
    * Geliştiricilerin **bire bir desteğini** almak mümkündür
    * **Özel talepler** çok daha hızlı değerlendirilir.
        
    </section>
    <section data-markdown>
        
    ### Demo Sistemi

    **[aktos-dcs demo sistemi](https://aktos-elektronik.com/aktos-dcs/demo)**
        
    </section>
    <section data-markdown>
        
    ### aktos-dcs kullanılan işler

    * 2014.11.15 : [aktos-dcs demo sistemi](#/aktos-dcs-demo)
    * 2014.12.02 : [Kablo zırhı soyma makinesi](#/kablo-zirhi-soyma)
    * 2015.03.06 : [Üretim Takip Sistemi](#/uretim-takip-sistemi)
        
    </section>
    
