include ../../templates/mixins.jade

+partial('switch-button-basic')
  div(
    style="display: inline-block; margin: 10px"
    ) 
    input(
      class="switch-actor switch-button-basic"
      type="checkbox" 
      data-pin-name="{{ .pin_name }}"
      )

