include ../../templates/mixins.jade

+partial('switch-button-basic')
  .switch-button-basic(
    style="display: inline-block; margin: 10px"
    ) 
    label 
      input(
        class="switch-button-basic__input"
        type="checkbox" 
        data-role="none"
        )
      span(style="padding: 5px")    {{ .label }}
