extends ../templates/brunch-layout.jade

block description 
  meta(name='description', content='aktos elektronik: yazılım - donanım - otomasyon - telemetri - IoT. Geniş çaplı otomasyon, telemetri ve IoT projelerinde kullanılmak üzere yerli üretim yazılım ve donanım üretir, doğrudan uygulama yapar.')
    
block icon
  link(rel="icon", type="image/png", href="img/aktos-icon.png")

block title
  title aktos elektronik

block content  
  include ../templates/mixins.jade
  include ../partials/ractive-partials.jade

      
  include ./pages/home-page.jade
  include ./pages/projects.jade
  include ./pages/products.jade
  include ./pages/products-details/aktos-dcs.jade
  include ./pages/demos.jade
  include ./pages/contact-page.jade
  
  //- scada pages
  include ./pages/scada/mms.jade
  include ./pages/scada/cm.jade
  include ./pages/scada/step-piston.jade
  include ./pages/scada/izmirhs.jade
  include ./pages/scada/gms.jade
  include ./pages/scada/trello-test.jade
