extends ../templates/brunch-layout.jade

block title
  title aktos webui

block content  
  include ../templates/mixins.jade
  include ../partials/ractive-partials.jade
      
  include ./pages/home-page.jade
  include ./pages/projects.jade
  include ./pages/products.jade
  include ./pages/demos.jade
  include ./pages/contact-page.jade
  
