+component('connection-status')
    | {{#if connectionOk === true }}
    span(class="glyphicon glyphicon-transfer"
        aria-hidden="true"
        style="color: green; font-size: 40px; -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg)"
    )
    | {{/if}}

    | {{#if connectionOk === false }}
    span(class="fa fa-pulse fa-spinner fa-3x" style="color: red")
    | {{/if}}
    
    
