include ../../templates/mixins.jade

+partial('jq-checkbox')
  .jq-checkbox.
    <span class="button-checkbox" style="{{ .connected? '' : 'border: 1px dashed red' }}">
        <button type="button" class="btn" data-color="primary">{{ .label ? .label : .pin_name }}</button>
        <input type="checkbox" class="hidden" />
    </span>
