.ui.message.yellow 
    h5.ui.header ace-editor is being fetched. 
    //-
        .ui.p You can use a simple textarea for now 
        .ui.form
            .field 
                textarea(value="{{code}}")
