style.
    .fileUpload {
        position: relative;
        overflow: hidden;
        //margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    
.input-group 
    .input-group-btn
        .fileUpload.btn.btn-primary
            span Choose File
            input.upload(type="file" capture="camera")
                
    
    input.form-control(value="{{ doc_id }}" placeholder="Document Name")
    span.input-group-addon(style="font-weight: bold") /
    input.form-control(value="{{ attachment_name }}" placeholder="Attachment Name")   
    .input-group-btn
        ack-button(on-buttonclick="uploadFile") Upload!
.preview
    img.img-thumbnail
