+component('file-upload')
    p document id: #[input(value="{{ doc_id }}")]/#[input(value="{{ attachment_name }}")]    
    input(type="file")
    ack-button(on-buttonclick="uploadFile") Upload!
    p preview of image: 
    .preview
        img 
