include ../../templates/mixins.jade

+partial('jq-checkbox')
  .jq-checkbox
    label(style="{{ .connected? '' : 'border: 1px dashed red' }}")
      input.jq-checkbox__input(
        type="checkbox"
        style="display: none;"
        )
      | {{ .label ? .label : .pin_name }}
 