include ../../templates/mixins.jade

+partial('jq-checkbox')
  .switch-actor.jq-checkbox 
    label
      input.jq-checkbox__input(
        type="checkbox"
        style="display: none"
        )
      | {{ .label }}
 