include ../../templates/mixins.jade

+partial('jq-checkbox')
  .jq-checkbox
    label(style="{{ .connected? '' : 'border: 1px dashed red' }}").   
      <span class="button-checkbox">
          <button type="button" class="btn" data-color="primary">{{ .label ? .label : .pin_name }}</button>
          <input type="checkbox" class="hidden" />
      </span>
