ack-button(on-buttonclick="listDesignDocuments" type="primary") Get List
+each('designDocuments')
    ack-button(on-buttonclick="getDesignDocument" value="{{ . }}")
        code {{ . }}

ace-editor(code="{{ designDocument.livescript }}" mode="livescript" theme="xcode")
btn-group
    input(value="{{ documentId }}")
    ack-button(on-buttonclick="putDesignDocument" type="success").
        Put Auth Document!
    ack-button(on-buttonclick="compileDesignDocument" type="info").
        Compile
ace-editor(code="{{ designDocument.javascript }}" mode="javascript" theme="xcode")

.panel.panel-info
    .panel-heading
        Get All Design Documents
    .panel-body
        ack-button(on-buttonclick="getAllDesignDocuments") Get All Documents
        ace-editor(code="{{ allDesignDocs }}")
