//- 
    Match with Design Guide status: 
    
        [ ] 1. Example implementation
        [ ] 2. Simple variable 
        [ ] 3. Unbound instances 
        [ ] 4. Bound instances and/or live feed
        [ ] 5. {{#if }} ... {{/if}} block
        [ ] 6. Test on mobile 
        [ ] 7. Change sizes
        [ ] 8. Match theme 
        [ ] 9. This checklist 
        
.row
    .col-md-12
        data-table(
            settings="{{ datatable.settings }}"
            tabledata="{{ datatable.tabledata }}"
            )
.row
    .col-md-12
        data-table(
            settings="{{ datatable2.settings }}"
            tabledata="{{ datatable2.tabledata }}"
            )
            +partial('header')
                span Hello!
                input(value="{{ filterOpts.selected }}")
            +partial('viewForm')
                span This is viev form!
