//- 
    Match with Design Guide status: 
    
        [x] 1. Example implementation
        [x] 2. Simple variable 
        [x] 3. Unbound instances 
        [x] 4. Bound instances and/or live feed
        [x] 5. {{#if }} ... {{/if}} block
        [ ] 6. Test on mobile 
        [ ] 7. Change sizes
        [x] 8. Match theme 
        [x] 9. This checklist 

row
    col-md-1.col-xs-1   
        p Show/hide datepicker
        input(type="checkbox" checked="{{ datepicker.show }}")
    col-md-3.col-xs-3
        h3 Bound component1 
        +if('datepicker.show')
            date-picker(unix="{{ datepicker.date1 }}")
            p unix: {{ datepicker.date1  }}
    col-md-3.col-xs-3
        h3 Bound component2     
        date-picker(unix="{{ datepicker.date1 }}")
        p unix: {{ datepicker.date1  }}
    col-md-3.col-xs-3    
        h3 Unbound instance
        date-picker(unix="{{ datepicker.date2 }}")
        p unix: {{ datepicker.date1  }}
