//- example-component usage ||meets 1||
//- Meets requirements: 1, 2, 3, 4, 5, 6
//- Untested: 7, 8

row 
    col-md-2
        // a checkbox to toggle one component instance ||meets 5||
        p Show/hide Tied component 1
        input(type="checkbox" checked="{{ exampleComponent.show }}")
    col-md-3
        h3 Tied component 1
        // a component instance that is created on demand 
        +if('exampleComponent.show')  
            example-component(age="{{ exampleComponent.age }}" birth="{{ exampleComponent.birth }}")
            // simple ractive variables to be able to observe values ||meets 2||
            p birth: {{ exampleComponent.birth }}
            p age: {{ exampleComponent.age }}
    col-md-3
        // 
        h3 Tied component 2
        example-component(age="{{ exampleComponent.age }}" birth="{{ exampleComponent.birth }}")
        p birth: {{ exampleComponent.birth }}
        p age: {{ exampleComponent.age }}

    col-md-3
        // Third instance is to prove it doesn't interfere with other instances ||meets 3||
        h3 Untied (free) instance
        example-component(age="{{ exampleComponent.age2 }}" birth="{{ exampleComponent.birth2 }}")
        // simple ractive variables to be able to observe values 
        p birth2: {{ exampleComponent.birth2 }}
        p age2: {{ exampleComponent.age2 }}
