extends ../../templates/template.jade

block title
    title Show Case

block script
    script(src="showcase.js")
    
block ractive
    inspina-theme
        inspina-menu
        inspina-right
            inspina-header      
                span
                    | AKTOS.io
            inspina-content
                
                //- example-component usage ||meets 1||
                //- Meets requirements: 1, 2, 3, 4, 5, 6
                //- Untested: 7, 8

                row 
                    col-md-2
                        // a checkbox to toggle one component instance ||meets 5||
                        p Show/hide Tied component 1
                        input(type="checkbox" checked="{{ exampleComponent.show }}")
                    col-md-3
                        // a component instance that is created on demand 
                        +if('exampleComponent.show')  
                            h3 Tied component 1
                            example-component(age="{{ exampleComponent.age }}" birth="{{ exampleComponent.birth }}")
                            // simple ractive variables to be able to observe values ||meets 2||
                            p birth: {{ exampleComponent.birth }}
                            p age: {{ exampleComponent.age }}
                    col-md-3
                        // 
                        h3 Tied component 2
                        example-component(age="{{ exampleComponent.age }}" birth="{{ exampleComponent.birth }}")
                        p birth: {{ exampleComponent.birth }}
                        p age: {{ exampleComponent.age }}

                    col-md-3
                        // Third instance is to prove it doesn't interfere with other instances ||meets 3||
                        h3 Untied (free) instance
                        example-component(age="{{ exampleComponent.age2 }}" birth="{{ exampleComponent.birth2 }}")
                        // simple ractive variables to be able to observe values 
                        p birth2: {{ exampleComponent.birth2 }}
                        p age2: {{ exampleComponent.age2 }}
                br
                row
                    col-md-2.col-xs-2   
                        p Show/hide datepicker Tied component1
                        input(type="checkbox" checked="{{ datepicker.show }}")
                    col-md-3.col-xs-2
                        +if('datepicker.show')
                            h3 Tied component1 
                            date-picker(value="{{ test.date }}")
                            p unix: {{ test.date }}
                    col-md-6.col-xs-2
                        h3 Tied component2     
                        date-picker(value="{{ test.date }}")
                        p unix: {{ test.date }}
                br        
                row
                    h3 Untied (free) instance
                    date-picker(value="{{ test.date2 }}")
                    p unix: {{ test.date2 }}

                br
                row
                    col-md-2.col-xs-2   
                        p Show/hide button Tied component1
                        input(type="checkbox" checked="{{ button.show }}")
                    col-md-3.col-xs-2
                        +if('button.show')
                            h3 Tied component1 
                            ack-button(state="{{ buttonState }}") MY BUTTON
                    col-md-3.col-xs-2  
                        h3 Tied component2 
                        ack-button(state="{{ buttonState }}") MY BUTTON2
                    col-md-3.col-xs-2  
                        h3 Untied (free) instance
                        ack-button(state="{{ buttonState }}") MY BUTTON3
                br
                row
                    col-md-2.col-xs-2  
                        p Show/hide combobox Tied component1
                        input(type="checkbox" checked="{{ combobox.show }}")
                    col-md-3.col-xs-2
                        +if('combobox.show')
                            h3 Tied component1
                            search-combobox()
                            p selected: {{x}}
                    col-md-3.col-xs-2  
                        h3 Tied component2 
                        search-combobox(data="{{productList}}" selected="{{x}}")
                        p selected: {{x}}
                    col-md-3.col-xs-2 
                        h3 Untied (free) instance
                        search-combobox(db="{{ db }}" view="customers/getReceipts" selected="{{y}}")
                        p selected: {{y}}
                br
                row
                    col-md-2.col-xs-2  
                        p Show/hide flot-chart Tied component1
                        input(type="checkbox" checked="{{ flot.show }}")
                    col-md-3.col-xs-2
                        +if('flot.show')
                            h3 Tied component1
                            flot-chart(data1="{{data1}}" data2="{{data2}}")
                            p data1: {{data1}}
                            p data2: {{data2}}
                    col-md-3.col-xs-2  
                        h3 Tied component2 
                        flot-chart(data1="{{data1}}" data2="{{data2}}")
                        p data1: {{data1}}
                        p data2: {{data2}}
                    col-md-3.col-xs-2 
                        h3 Untied (free) instance
                        flot-chart(data1="{{data1}}" data2="{{data2}}")
                        p data1: {{data1}}
                        p data2: {{data2}}
                br
                row
                    col-md-2.col-xs-2  
                        p Show/hide pie-chart Tied component1
                        input(type="checkbox" checked="{{ pie.show }}")
                    col-md-3.col-xs-2
                        +if('pie.show')
                            h3 Tied component1
                            .box
                                pie-chart(names="Kekik,Peynir,Zeytin,Mahmut" values="{{simulateData()}}")
                            p simulatedData: {{simulateData()}}
                    col-md-3.col-xs-2  
                        h3 Tied component2 
                        .box
                            pie-chart(names="Kekik,Peynir,Zeytin,Mahmut" values="{{simulateData()}}")
                        p simulatedData: {{simulateData()}}
                    col-md-3.col-xs-2 
                        h3 Untied (free) instance
                        .box
                            pie-chart(names="Kekik,Peynir,Zeytin,Mahmut" values="{{pieData}}")
                        p simulatedData: {{pieData}}
            inspina-footer
                +partial('right')
                    span aktos.io
                    
                +partial('left')
                    span showcase page
