h3.ui.horizontal.divider.header 
    i.file.text.outline.icon 
    | Issues
    
data-table(settings="{{ settings }}")
    
    +partial('header')
        include ./header.pug

    +partial('viewForm')
        include ./view-form.pug

    +partial('editForm')
        include ./edit-form.pug
