.ui.segments 
    h3.ui.top.attached.block.header 
        | ID: <b> {{ curr._id }} </b>
        +apply('controls "right floated" as cls')
        div(style="clear: both")
        
    .ui.segment
        json-edit(value="{{curr}}")

    .ui.segment 
        ack-button.green(on-click="save") Kaydet        
        btn.inverted.red.icon(on-click="closeRow"): icon.remove Kapat
        
