+component('login')
    form-vertical
        | {{#if !context.ok}}
        .alert.alert-info.check-state Checking if we are already logged in... 
        form-group
            input.form-control.username-input(value="{{context._user.name}}" placeholder="{{ usernamePlaceholder }}")
        form-group
            input.form-control.password-input(value="{{context._user.password}}" type="password" placeholder="{{ passwordPlaceholder }}")
        form-group
            ack-button(on-buttonclick="doLogin" class="btn-lg btn-block btn-signin") Login

        | {{else}}
        //- 
            form-group 
                p Welcome {{ context.user.name }}!
        ack-button(on-buttonclick="doLogout") Logout
        | {{/if}}
    +if('context.err')
        div(style="position: fixed; top: 10; right: 10")
            alert(type="danger" closable="true") {{ context.err.msg }}
