+component('login')
    form-vertical
        | {{#if !context.ok}}
        form-group
            b-label.col-sm-4 Username
            col-sm-8: input.form-control(value="{{context._user.name}}")
        form-group
            b-label.col-sm-4 Password
            col-sm-8: input.form-control(value="{{context._user.password}}")
        form-group
            btn(on-buttonclick="doLogin") Login!
        | {{else}}
        form-group 
            p Welcome {{ context.user.name }}!
            btn(on-buttonclick="doLogout") Logout
        | {{/if}}
    +if('context.err')
        div(style="position: fixed; top: 10; right: 10")
            alert(type="danger" closable="true") {{ context.err.msg }}
