form-vertical
    | {{#if !context.ok}}
    form-group
        input.form-control.username-input(value="{{context._user.name}}" placeholder="{{ usernamePlaceholder }}")
    form-group
        input.form-control.password-input(value="{{context._user.password}}" type="password" placeholder="{{ passwordPlaceholder }}")
    form-group
        ack-button(on-buttonclick="doLogin" class="btn-lg btn-block btn-signin") Login

    | {{else}}
    //- 
        form-group 
            p Welcome {{ context.user.name }}!
    ack-button(on-buttonclick="doLogout") Logout
    | {{/if}}
//.alert.alert-info.check-state Checking if we are already logged in... 
//-
    .alert.alert-danger.fade.in(role="alert" style="width: 100%; position: fixed; top: 0; left: 0").
        <a href="#" class="close" on-click="closeAlert" aria-label="close">&times;</a>
        {{{ context.err.msg }}}
