+component('order-table')
    b-table 
        thead 
            tr.
                {{#if clickedIndex !== null}}
                    <th>Editing...</th>
                {{else}}
                    <th>#</th>
                {{/if}}
                {{#each columnList}}
                    <th>{{ . }}</th>
                {{/each}}

        tbody
            tr
                td(colspan="{{ columnList.length + 1 }}")
                    row 
                        | {{#if addingNew}}
                        |   {{>editForm}}
                        | {{else}}
                        .col-md-3.col-sm-3
                            +unless('addingNew')
                                btn(on-buttonclick="addNewOrder")
                                    icon-plus
                                    span {{yield addnewTitle}}
                        .col-md-9.col-sm-9
                            | {{>header}}
                        | {{/if}}
            +each('dataFilters[filterOpts.selected](tabledata, filterOpts.params, this):i')
                +if('true').
                    <tr class="input-line {{#if isEditingLine(i)}}danger{{/if}} {{#if clickedIndex === i}}warning{{/if}}" on-doubleclick="activated">
                        {{#if isClicked(i) }}
                            <td>
                                <btn-group-vertical>
                                    <btn on-buttonclick="toggleEditing" type="{{#if editTooltip }}danger{{else}}default{{/if}}" active="{{editable}}" >
                                        {{#if editable}}
                                            <icon-check/>
                                        {{else}}
                                            <icon-unchecked/>
                                        {{/if}}
                                        <icon-pencil/>
                                    </btn>
                                    <btn type="success" on-buttonclick="saveAndExit"><icon-ok/></btn>
                                    <btn type="info" on-buttonclick="addNewOrderClose"><icon-remove/></btn>
                                    
                                </btn-group-vertical>
                            </td>
                        {{else}}
                            <td>{{i+1}}</td>
                        {{/if}}
                        {{#if isEditingLine(i)}}
                            <td colspan="{{ columnList.length }}">{{>editForm}}</td>
                        {{else}}
                            {{#if isClicked(i) }}
                                <td colspan="{{ columnList.length }}"> {{>viewForm}} </td>
                            {{else}}
                                {{#.}}<td>{{.}}</td>{{/}}
                            {{/if}}
                        {{/if}}
                    </tr>
