+component('search-combobox')
    btn.face {{ selectedText }}
    +if('slVisible')
        .selection-list(style="position: absolute; z-index: 99999")
            .btn-group-vertical
                input.searchbox(value="{{ searchedText }}" style="width: 100%; height: 25px")
                +each('filtered')
                    btn(on-buttonclick="select" value="{{ .id }}") {{ .name }}
            
