include ../../templates/mixins.pug
//- http://selectize.github.io/selectize.js/

.input-group-with-selectize
    select(placeholder="{{ placeholder }}")
        option(value="") ...
        +each('data')
            option(value="{{ .id }}") {{ .name }}
