.search-combobox {
    display: inline-block;
}
.selectize-input {
    padding-right: 30px;
    margin-bottom: -5px;
}
.selectize-dropdown {
    position: absolute;
    top: 36px !important;
    /* if no word-wrap requested: *REMOVEME/
    width: auto !important;
    white-space: nowrap;
    /* else */
    width: 100% !important;
    /* endif */

}
