
+component('search-combobox')
    select(value='{{iselected}}', data-style='btn-success', data-live-search='true', data-width='auto', '{{multiple}}')
        +each("selectionList:i")
            option(value="{{ .id }}") {{ .name }}
            
            
