.input-group-with-selectize {
    height: 30px;
    position: relative;
    top: -2px;
    /* the rule below is what we called as 'fixed' */
    min-width: 80px;
}

.input-group-with-selectize .selectize-input {
    height: 34px;
}
