// http://selectize.github.io/selectize.js/

+component('search-combobox')
    select(placeholder="Seçim Yapın...")
        option(value="") ...
        +each('data')          
            option(value="{{ .id }}") {{ .name }}
