include ../../templates/mixins.jade
//- http://selectize.github.io/selectize.js/

select(placeholder="Seçim Yapın...")
    option(value="") ...
    +each('data')          
        option(value="{{ .id }}") {{ .name }}
