
+component('search-combobox')
    +partial('c')
        button.face.btn.btn-default.dropdown-toggle(type="button" data-toggle="dropdown").
            {{ selectedText }} #[span.caret]
        +if('slVisible')
            ul.dropdown-menu(role="menu")
                .dropdown-item
                    input.searchbox(value="{{ searchedText }}" placeholder="Ara..." style="width: 100%")
                li
                    .btn-group-vertical(style="width: 100%")
                        +each('filtered')
                            btn(on-buttonclick="select" value="{{ .id }}" type="primary") 
                                span.pull-left {{ .name }}            
    | {{#if inInputGroup}} 
    |   {{>c}}
    | {{else}}
    |   <div class="dropdown"> 
    |       {{>c}}  
    |   </div>
    | {{/if}}
