
.dropdown-overlay {
    position: absolute;
    /*z-index: 999;*/
    background-color: white;
    /*overflow: auto;*/
    width: auto;
    height: auto;
    box-shadow: 5px 5px 5px #888888;
    /*border: 1px solid lightgrey;*/
}
.dropdown-panel {
    position: relative;
    z-index: 1041;
    display: inline-block;
}
