/*
.dropdown-overlay {
    position: absolute;
    background-color: white;
    width: auto;
    height: auto;
    box-shadow: 5px 5px 5px #888888;
}
*/
.dropdown-panel {
    display: inline-block;
}
