+if('test')
    .ui.segments
        h2.ui.top.attached.block.header aktos-dcs Test Zone
        .ui.attached.segment 
            p This section is for testing #[code aktos-dcs] library functions. 
            

        h3.ui.attached.block.header Subscribe to same topics 
        .ui.attached.segment 
            p.
                Below sliders are bound to each other, so moving one should make the others move. 
                
            .ui.equal.width.stackable.grid 
                .column 
                    h3.dividing.header #[code testValue3] (subscribed to #[code my-test-pin3])
                    input-field(value="{{ testValue3}}")
                    slider(value="{{ testValue3 }}")
                    sync(value="{{ testValue3 }}" topic="my-test-pin3" fps="10")
                .column 
                    h3.dividing.header #[code testValue4] (subscribed to both #[code my-test-pin3] and #[code hello])
                    input-field(value="{{ testValue4}}")
                    slider(value="{{ testValue4 }}")
                    sync(value="{{ testValue4 }}" topic="my-test-pin3" fps="20")
                    sync(value="{{ testValue4 }}" topic="hello" fps="20")
                .column 
                    h3.dividing.header #[code testValue5] (subscribed to both #[code my-test-pin4] and #[code hello])
                    input-field(value="{{ testValue5}}")
                    slider(value="{{ testValue5 }}")
                    sync(value="{{ testValue5 }}" topic="hello" fps="20")
        
        h3.ui.attached.block.header Subscribe to separate topics 
        .ui.attached.segment 
            h3.dividing.header #[code testValue] (subscribed to #[code my-test-pin1])
            input-field(value="{{ testValue}}")
            slider(value="{{ testValue }}")
            sync(value="{{ testValue }}" topic="my-test-pin1" fps="20")

        .ui.attached.segment 
            h3.dividing.header #[code testValue2] (subscribed to #[code my-test-pin2])
            input-field(value="{{ testValue2}}")
            slider(value="{{ testValue2 }}")
            sync(value="{{ testValue2 }}" topic="my-test-pin2" fps="20")
