#solaris(data-role='page', data-theme='b')
  .panel.panel-primary.scada-drawing-area
    .panel-heading
      h2.panel-title Solaris-Panel
      .row
        .col-sm-2.col-xs-6.
          {{>scada-generate-layout {pin_name: 'scada'} }}
        .col-sm-2.col-xs-6.
          {{>jq-checkbox {pin_name: 'lock-scada', label: 'Locked'} }}
    .panel-body
      //- wid: 1100+
      .scada-drawing-area
        .scada-container. 
          {{>label {wid: 8001, val: 'Acil Durum'}}}
          {{>jq-checkbox {pin_name: 'Acil Durum', wid: 8002} }}
          {{>status-led {pin_name: 'Acil Durum', wid: 8003} }}
          
                
          {{>label {wid: 8004, val: 'Gerilim'}}}
          {{>seven-segment {wid: 8005, pin_name: 'Gerilim', val: 132.00, format: '###.##', type: 'multimeter'}}}
  
          {{>label {wid: 8000, val: 'S覺cakl覺k'}}}
          {{>thermometer {pin_name: 'S覺cakl覺k', wid: 8007} }}
                  
          {{>label {wid: 7000, val: 'Pil'}}}
          {{>b-vertical-progress-bar {pin_name: 'Pil', wid: 7001} }}
          
          {{>label {wid: 7005, val: 'Realtime Graph'}}}
          {{>line-graph {pin_name: 'graph', wid: 7003} }}
          
          {{>label {wid: 7006, val: 'Speed'}}}
          {{>justgage {pin_name: 'Speed', val: 45, wid: 7007} }}
          {{>gauge {pin_name: 'Speed', type: 'speed', wid: 7008} }}   
          
          {{>label {wid: 7010, val: 'Current'}}}
          {{>b-notification-box {pin_name: 'Current', opt: 'red', label: 'Alert', icon: 'warning', wid: 7009} }}
          
          {{>b-notification-box {pin_name: 'online-users', opt: 'green', icon: 'user', label: 'Online', wid: 1106} }}

  | {{>connection-status {}}}
