.ui.vertical.inverted.large.sidebar.menu.left
    .item
        h2.ui.inverted.header 
            img.ui.mini.image(src="scadajs.png")
            .content ScadaJS 
    .menu 
        +each('menu:index')
            a.item(
                href!='{{.url}}'
                class="{{#if currentPage === .url }}active{{/if}}"
                )
                b {{ .title }}
                +iff('.icon')
                    i.icon(class="{{.icon}}")
                +else
                    i.code.icon
                +endif

            +if('.submenu')
                .item
                    .menu
                        +each('.submenu')
                            a.item(
                                href!='{{menu[index].url}}{{.url}}'
                                class="{{#if currentPage === .url }}active{{/if}}"
                                )
                                | {{ .title }}
                                +if('.icon')
                                    i.icon(class="{{.icon}}")
