.circular-progress__inner {
    width: 100%;
    height: 100%;
    margin: 6px 6px 20px;
    display: inline-block;
    position: relative;
    text-align: center;
    line-height: 1.2;
}

.circular-progress__inner canvas {
    vertical-align: top;
    width: 100%
    height: 100%;
}

.circular-progress__inner strong {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-size: 30px;
}

.circular-progress__inner strong i {
    font-style: normal;
    font-size: 0.6em;
    font-weight: normal;
}

.circular-progress__inner span {
    display: block;
    color: #aaa;
    margin-top: 12px;
}
