include ../../templates/mixins.jade
    
+partial('circular-progress')
  div.
    <div id="circle" class="circle1"></div>
    <div id="circle" class="circle2">
      <strong></strong>
    </div>
    <div id="circle" class="circle3">
      <strong></strong>
    </div>