
|{{#if editable}}
|{{> editForm}}
ack-button(type="success" on-buttonclick="accept") Accept
ack-button(type="danger" on-buttonclick="cancel") Cancel
|{{else}}
span(class="formal-field" on-click="edit") {{yield viewForm}}
|{{/if}}
