/* @import "http://fonts.googleapis.com/css?family=Montserrat:300,400,700";
*/
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.rwd-table {
  margin: 1em 0;
  min-width: 300px;
  width: 100% !important;
}
.rwd-table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.rwd-table th {
  display: none;
}
.rwd-table td {
  display: block;
}
.rwd-table td:first-child {
  padding-top: .5em;
}
.rwd-table td:last-child {
  padding-bottom: .5em;
}
.rwd-table tr:nth-child(odd) {
    background-color: rgb(0, 80, 50, 0.05);
}

.rwd-table td:before {
  content: attr(data-th) " ";
  font-weight: bold;
  display: inline-block;
}
.rwd-table th,
.rwd-table td {
  text-align: left;
}
.rwd-table {
  border-radius: .4em;
  overflow: hidden;
}
.rwd-table tr {
  border-color: #46637f;
}
.rwd-table th,
.rwd-table td {
  margin: .5em 1em;
}
.rwd-table th,
.rwd-table td:before {
  color: black;
}

.rwd-table th,
.rwd-table td {
  padding: 1em !important;
}
.rwd-table th,
.rwd-table td {
  display: table-cell;
  padding: .25em .5em;
}
.rwd-table th:first-child,
.rwd-table td:first-child {
  padding-left: 0;
}
.rwd-table th:last-child,
.rwd-table td:last-child {
  padding-right: 0;
}


/* ------------------------------------------------------------------------ */
/* Min with should be LESS THAN 600px if you want to print as normal table! */
/* ------------------------------------------------------------------------ */

@media (min-width: 601px) {
  .rwd-table td:before {
    display: none;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  .rwd-table {
    border: 0;
  }

  .rwd-table thead {
    display: none;
  }

  .rwd-table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  .rwd-table td {
    display: block;
    /*text-align: right;*/
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }

  .rwd-table td[data-th] {
    text-align: right;
  }

  .rwd-table td:last-child {
    border-bottom: 0;
  }

  .rwd-table td:before {
    content: attr(data-th);
    float: left;
    font-weight: bold !important;
  }

  .table>tbody>tr>td {
    border-top: 0;
  }
}

@media (max-width: 400px) {
  .rwd-table {
    border: 0;
  }

  .rwd-table thead {
    display: none;
  }

  .rwd-table tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  .rwd-table td {
    display: block;
    text-align: left;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }

  .rwd-table td:last-child {
    border-bottom: 0;
  }

  .rwd-table td:before {
    content: attr(data-th);
    font-weight: bold;
    display: block !important;
  }

  .table>tbody>tr>td {
    border-top: 0;
  }
}
