include ../../templates/mixins.jade
    
+partial('b-notification-box')
  .b-notification-box      
    .panel.panel-green
      .panel-heading
        .row
          .col-xs-3
            i.fa.fa-comments.fa-5x
          .col-xs-9.text-right
            .huge {{ .val ? .val : 26 }}
            div {{ .label ? .label : 'New Comments!' }}
      a(href='#')
        .panel-footer
          span.pull-left View Details
          span.pull-right
            i.fa.fa-arrow-circle-right
          .clearfix
            
    