+component('inspina-theme')
    #wrapper.
        {{yield}}
        
+component('inspina-menu')
    nav.navbar-default.navbar-static-side(role='navigation')
        .sidebar-collapse
            ul#side-menu.nav.metismenu
                li.nav-header
                    //| {{>header}}
                    .dropdown.profile-element
                        a.dropdown-toggle(data-toggle='dropdown' href='javascript:;')
                            span.clear
                                span.block.m-t-xs
                                    strong.font-bold {{ user.name }}
                                span.text-muted.text-xs.block {{ user.title }}
                    .logo-element C
                +each('menu:i')  
                    +unless('.subMenu')
                        //- No submenu, use direct links...
                        li(class='{{#if isSelected(.url, iselected)}} active {{/if}}')        
                            a(href='{{.url}}' on-click='clicked')
                                i(class='{{.icon}}')
                                span.nav-label {{.title}} 
                                +if('.subMenu')
                                    span.fa.arrow
                    +if('.subMenu')      
                        li(class='{{#if isSelected(i, iselected)}} active {{/if}}')        
                            a(href='javascript:;' on-click='clicked')
                                i(class='{{.icon}}')
                                span.nav-label {{.title}} 
                                +if('.subMenu')
                                    span.fa.arrow

                            ul.nav.nav-second-level.collapse(class='{{#if isSelected(i, iselected) || isSelectedHere(.subMenu, iselected)}} in {{/if}}')
                                +each('.subMenu')
                                    li(class='{{#if isSelected(.url, iselected)}} active {{/if}}')        
                                        a(href='{{.url}}' on-click='clicked') {{.title}}


+component('inspina-right')
    #page-wrapper.gray-bg.
        {{yield}}
        
                                
+component('inspina-header')
    .row.border-bottom
            nav.navbar.navbar-static-top.white-bg(role='navigation' style='margin-bottom: 0')
                .navbar-header
                    a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='javascript:;')
                        i.fa.fa-bars
                .pull-right {{>right}}
                div {{>left}}
                            
+component('inspina-content')
    .wrapper.wrapper-content.animated.fadeInRight.
        {{>content}}

+component('inspina-footer')
    .footer
        .pull-right {{>right}}
        div {{>left}}
