+component('inspina-theme')
    #wrapper.
        {{yield}}
        
+component('inspina-menu')
    nav.navbar-default.navbar-static-side(role='navigation')
        .sidebar-collapse
            ul#side-menu.nav.metismenu
                li.nav-header
                    .dropdown.profile-element
                        a.dropdown-toggle(data-toggle='dropdown' href='#')
                            span.clear
                                span.block.m-t-xs
                                    strong.font-bold David Williams
                                span.text-muted.text-xs.block Art Director
                                    b.caret
                        ul.dropdown-menu.animated.fadeInRight.m-t-xs
                            li
                                a(href='#') Logout                
                    .logo-element IN+

                li.active
                    a(href='showcase.html')
                        i.fa.fa-th-large
                        span.nav-label ShowCase
                        
                li
                    a(href='minor.html')
                        i.fa.fa-diamond
                        span.nav-label minor view
                        

+component('inspina-right')
    #page-wrapper.gray-bg.
        {{yield}}
        
                                
+component('inspina-header')
    .row.border-bottom
            nav.navbar.navbar-static-top.white-bg(role='navigation' style='margin-bottom: 0')
                .navbar-header
                    a.navbar-minimalize.minimalize-styl-2.btn.btn-primary(href='#')
                        i.fa.fa-bars
                    | {{yield}}
                ul.nav.navbar-top-links.navbar-right
                    li
                        a(href='#')
                            i.fa.fa-sign-out Logout   
                            
+component('inspina-content')
    .wrapper.wrapper-content.animated.fadeInRight
        .row
            .col-lg-12
                | {{yield}}

+component('inspina-footer')
    .footer
        .pull-right
            | {{yield right}}
        div
            | {{yield left}}
