include ./inspina-menu/index.jade
include ./inspina-theme/index.jade
include ./inspina-header/index.jade
include ./inspina-content/index.jade
include ./inspina-footer/index.jade

+component('inspina-right')
    #page-wrapper.gray-bg.
        {{yield}}
