extends ../templates/brunch-layout.pug

block description 
  meta(name='description', content='aktos elektronik: yazılım - donanım - otomasyon - telemetri - IoT. Geniş çaplı otomasyon, telemetri ve IoT projelerinde kullanılmak üzere yerli üretim yazılım ve donanım üretir, doğrudan uygulama yapar.')
    
block icon
  link(rel="icon", type="image/png", href="img/aktos-icon.png")

block title
  title aktos elektronik

block loading
  include ./pages/loading.pug

block content  
  include ../templates/mixins.pug
  include ../partials/ractive-partials.pug

  //-
  include ./pages/home-page.pug
  include ./pages/projects.pug
  include ./pages/products.pug
  include ./pages/products-details/aktos-dcs.pug
  include ./pages/demos.pug
  include ./pages/contact-page.pug
  include ./pages/pcb.pug
  
  //- scada pages
  include ./pages/scada/mms.pug
  include ./pages/scada/cm.pug
  include ./pages/scada/step-piston.pug
  include ./pages/scada/izmirhs.pug
  include ./pages/scada/gms.pug
  include ./pages/scada/trello-test.pug
  include ./pages/scada/solaris.pug
  
  //- test pages 
  include ./pages/test-page-1.pug
  include ./pages/test-page-2.pug
