.zoom-graph__graph {
	width: 200px;
	height: 100px;
}
.zoom-graph {
	width: 200px;
	height: 100px;
}
.overview-graph__graph {
	width: 20px;
	height: 10px;
}
.overview-graph {
	width: 20px;
	height: 10px;
}
