include ../../templates/mixins.jade
    
+partial('test-widget')
  //-
    this is an inline 
    documentation for 
    the test widget. 
  
  .test-widget
    span. 
      this is test widget 
      {{ .label }}
    
    