.seven-segment-off-state {
    fill: #320000;
}

.seven-segment-on-state {
    fill: red;
}
.seven-segment-container {
    display: block;
    margin: -5px;
}

.seven-segment-container svg {
    height: 20px;
}
