.aa {
    display: inline;

}
/* unvisited link */
.aa:link {
    color: red;
}

/* visited link */
.aa:visited {
    color: green;
}

/* mouse over link */
.aa:hover {
    color: hotpink;
    cursor:pointer;

}

/* selected link */
.aa:active {
    color: blue;
}
