include ../../templates/mixins.jade
+partial('nav-bar').
  {{#with page.menu}}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="margin: 0; padding: 0; margin-right: 5px;" href="#/"><img src="{{.brand.icon}}" style="height: 100%; width: auto;" alt="{{.brand.name}}"/></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {{#each .links}}
          <li {{ .addr === active_button ? 'class="active"' : ''}}><a href="{{.addr}}">{{.name}}</a></li>
          {{/each}}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  {{/with}}
