include ../../templates/mixins.jade

+partial('nav-bar')
  .nav-bar
    | <div data-role="navbar" class="nav-glyphish-example" data-grid="d">
    |   <ul>
    |     <li><a {{>jq-persist {active: .active_button, this_page: "home-page"}}}  href="#/" id="home" data-icon="custom" >Ana Sayfa</a></li>
    |     <li><a {{>jq-persist {active: .active_button, this_page: "applications"}}} href="#/applications" id="project" data-icon="custom" >İşler</a></li>
    |     <li><a {{>jq-persist {active: .active_button, this_page: "products"}}} href="#/products" id="product" data-icon="custom">Ürünler</a></li>
    |     <li><a {{>jq-persist {active: .active_button, this_page: "demos"}}} href="#/demos" id="demo" data-icon="custom" >Demo</a></li>
    |     <li><a {{>jq-persist {active: .active_button, this_page: "contact-page"}}} href="#/contact-page" id="contact" data-icon="custom" >İletişim</a></li>
    |   </ul>
    | </div>

+partial('jq-persist')
  |  {{ active == this_page ? 'class="ui-btn-active ui-state-persist"' : '' }}
