//- http://getbootstrap.com.vn/examples/equal-height-columns/
.container-fluid
    .row.row-eq-height(style="margin-top: 1.7em; padding-bottom: 10px;  border-bottom: 1px solid lightgray")
        .col-md-3
            b {{ key }}
        .col-md-9
            | {{yield}}
