include ../../templates/mixins.jade

+partial('sevensegment')
  | <div class="sevenSeg"></div>
  | <div class="medsevenSegArray"></div> 
//-  
  button(
    style="padding: 1em; border: 1px solid white"
    class="switch-actor analog-display"
    )
    | {{ .val == null ? ' ??? ' : .val }}
