aside.main-sidebar.debug
    button.btn.btn-default.main-sidebar-button(type="button"): i.glyphicon.glyphicon-menu-hamburger
    nav.main-sidebar-navigation
        ul.sidebar-menu
            li.user-informations {{yield}}
            +each('menu')
                | {{#if .subMenu}}
                li.menu-item-has-submenu
                    .anchor
                        icon.menu-item-icon(name="{{.icon}}")
                        span.menu-item-title
                            | {{ .title }}
                        icon-chevron-down.menu-item-dropdown.pull-right
                    ul.sub-menu
                        +each('.subMenu')
                            li
                                a(href="{{ .url }}" class="{{#if selected === .url}}active{{/if}}")
                                    icon.menu-item-icon(name="{{.icon}}")
                                    span.menu-item-title
                                        | {{ .title }}
                | {{else}}
                li
                    a(href="{{ .url }}" class="{{#if selected === .url}}active{{/if}}")
                        icon.menu-item-icon(name="{{.icon}}")
                        span.menu-item-title
                            | {{ .title }}
                | {{/if}}
