include ../../templates/mixins.jade

+component('aea-theme')
    .content
        .row(style="margin: 0; padding: 0") {{ yield }}

+component('aea-menu')
    .col-sm-2(style="padding: 0; margin-left: 0; margin-top: 0; margin-bottom: 0")
        .sidebar-nav 
            .navbar.navbar-default(role="navigation")
                .navbar-header
                    button.navbar-toggle(type="button" data-toggle="collapse" data-target=".sidebar-navbar-collapse")
                        span.sr-only Toggle Navigation 
                        span.icon-bar 
                        span.icon-bar 
                        span.icon-bar 
                .navbar-collapse.collapse.sidebar-navbar-collapse 
                    ul.nav.navbar-nav
                        li {{yield}}
                        +each('menu')
                            | {{#if ! .subMenu}}
                            li(class="{{#if selected === .url}}active{{/if}}"): a(href="{{ .url }}") {{#if expand}}{{ .title }}{{/if}}
                            | {{else}}
                            // this is submenu 
                            li.dropdown 
                                a.dropdown-toggle(href="#" data-toggle="dropdown") {{#if expand}} {{.title}} #[b.caret] {{/if}}
                                ul.dropdown-menu 
                                    +each('subMenu')
                                        li
                                            a(href="{{.url}}") {{.title}} 
                            
                            | {{/if}}
                            
    
+component('aea-content')
    .col-sm-10 
        .row(style="margin: 0; padding: 0").
            {{yield header}}
        .row(style="margin: 0; padding: 0").
            {{yield body}}
        
