.main-sidebar {
background-color: maroon;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 16.66666667%; /* col-*-2 */
    z-index: 810;
}

.sidebar-button {
    width: 40px;
    padding: 6px 0;
    margin: 6px 0 6px 4px;
}

.sidebar-menu {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
}

.sidebar-menu > li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
}

@media (min-width: 426px) and (max-width: 991px) {
    /* collapsed to icons */
    .main-sidebar {
background-color: lime;
        width: 8.33333333%; /* col-*-1 */
    }
}

@media (max-width: 425px) {
    /* hidden - shown by button */
    .main-sidebar {
background-color: navy;
        width: 200px;
    }

    .sidebar-menu {
        left: -200px;
    }
}
