+component('aea-theme')
    | {{ yield }}

+component('aea-content')
    .container-fluid.content-wrapper
        .row
            .col-md-12
                | {{yield header}}
            .col-md-12
                | {{yield body}}
