+component('aea-theme')
    | {{ yield }}

+component('aea-menu')
    aside.main-sidebar.debug
        button.btn.btn-default.main-sidebar-button(type="button"): i.glyphicon.glyphicon-menu-hamburger
        nav.main-sidebar-navigation
            ul.sidebar-menu
                li: a.active(href="#foo")
                    span.menu-item-icon.glyphicon.glyphicon-cloud
                    span.menu-item-title lorem ipsum dolor sit amet
                li: a(href="#bar")
                    span.menu-item-icon.glyphicon.glyphicon-tags
                    span.menu-item-title Bar

+component('aea-content')
    .container-fluid.content-wrapper
        .row
            .col-md-12
                | {{yield header}}
            .col-md-12
                | {{yield body}}
