.main-sidebar.debug {
    background-color: lime;
}
@media (min-width: 480px) { /* twbs-xs */
    .main-sidebar.debug {
        background-color: cyan;
    }
}
@media (min-width: 768px) { /* twbs-sm */
    .main-sidebar.debug {
        background-color: maroon;
    }
}
@media (min-width: 992px) { /* twbs-md */
    .main-sidebar.debug {
        background-color: lightgray;
    }
}
@media (min-width: 1200px) { /* twbs-lg */
    .main-sidebar.debug {
        background-color: black;
    }

    .main-sidebar.debug a {
        color: white;
    }
}

.main-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 320px;
    min-height: 100%;
    width: 48px;
    z-index: 810;
    transition: 0.2s;
    background-color: #ececec;
}

.main-sidebar.closed {
    background-color: transparent;
}
.main-sidebar.closed li {
    display: none;
}

.main-sidebar.collapsed {
    width: 200px;
}
.main-sidebar.collapsed li .menu-item-title {
    display: inline-block;
}

.main-sidebar-button {
    width: 40px;
    padding: 6px 0;
    margin: 6px 0 6px 4px;
    z-index: 811;
}

.main-sidebar-navigation {
    transition: 0.2s;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-menu > li {
    position: relative;
    display: inherit;
    margin: 0;
    padding: 0;
}

.sidebar-menu > li > a {
    padding: 12px 5px 12px 15px;
    display: block;
    color: white;
}
.sidebar-menu > li > a.active {
    background-color: #dadada;
    color: black;
}

.menu-item-icon {
    display: inline-block;
}

.menu-item-title {
    display: none;
}

.content-wrapper {
    margin-left: 36px;
}

@media (min-width: 480px) { /* twbs-xs */
    .main-sidebar.collapsed {
        width: 240px;
    }
}

@media (min-width: 768px) { /* twbs-sm */
    .main-sidebar {
        width: calc(3 * 8.33333333%);
    }

    .menu-item-title {
        display: inline-block;
    }

    .main-sidebar.collapsed {
        width: 48px;
    }

    .main-sidebar.collapsed .menu-item-title {
        display: none !important;
    }
}

@media (min-width: 992px) { /* twbs-md */
    .main-sidebar + .content-wrapper {
        width: calc(9 * 8.33333333%);
        margin-left: calc(3 * 8.33333333%);
    }
    .main-sidebar.collapsed + .content-wrapper {
        width: calc(100% - 48px);
        margin-left: 48px;
    }
}

@media (min-width: 1200px) { /* twbs-lg */
}

.content-wrapper {
    transition: 0.2s;
}
