.ui.segment 
    ack-button.green(on-click="listDesignDocuments") Get List
    +each('designDocuments')
        ack-button(on-click="getDesignDocument")
            code {{ . }}

    .ui.form 
        .field
            ace-editor(code="{{ designDocument.livescript }}" mode="livescript" theme="xcode")
        .field 
            checkbox(checked="{{autoCompile}}") Autocompile
            +unless('autoCompile')
                ack-button.teal(on-click="compileDesignDocument") Compile
        +unless('autoCompile')
            .field 
                ace-editor(code="{{ designDocument.javascript }}" mode="javascript" theme="xcode")
        .field
            .ui.action.input 
                input(value="{{ documentId }}" placeholder="_design/myDesignDocument")
                ack-button.red(on-click="putDesignDocument") Put Auth Document!

        .field
            checkbox(checked="{{dumpAllSection}}") Dump All
            
        .fields
            .field 
                label View 
                input(value="{{getView_view}}" placeholder="mydesigndoc/myview")
            .field 
                label Params 
                json-edit(value="{{getView_params}}" style="height: 100px")
            .field 
                label Get
                ack-button(on-click="getView") Get View
        
        .field
            label Result (also in the console)
            pre(style="overflow-x: scroll") {{getView_result}}
            
+if('dumpAllSection')
    h3.ui.attached.header Dump All Design Documents
    .ui.segment 
        .ui.form 
            .field 
                ack-button.green(on-click="getAllDesignDocuments") Get All Documents
            .field 
                ace-editor(code="{{ allDesignDocs }}")
