.ui.segments 
    .ui.segment 
        ack-button.green(on-buttonclick="listDesignDocuments") Get List
        .ui.buttons 
            +each('designDocuments')
                ack-button(on-buttonclick="getDesignDocument" value="{{ . }}")
                    code {{ . }}

        ace-editor(code="{{ designDocument.livescript }}" mode="livescript" theme="xcode")
        .ui.form 
            .field 
                ack-button.teal(on-buttonclick="compileDesignDocument") Compile
            .field 
                ace-editor(code="{{ designDocument.javascript }}" mode="javascript" theme="xcode")
            .field
                .ui.action.input 
                    input(value="{{ documentId }}" placeholder="_design/myDesignDocument")
                    ack-button.red(on-buttonclick="putDesignDocument") Put Auth Document!


    h3.ui.attached.header Dump All Design Documents
    .ui.segment 
        .ui.form 
            .field 
                ack-button.green(on-buttonclick="getAllDesignDocuments") Get All Documents
            .field 
                ace-editor(code="{{ allDesignDocs }}")
