.ui.segments
    .ui.segment 
        ack-button.green(on-click="listDesignDocuments") Get List
        +each('designDocuments')
            ack-button(on-click="getDesignDocument")
                code {{ . }}

        .ui.form 
            .field
                ace-editor(code="{{ designDocument.livescript }}" mode="livescript" theme="xcode")
            .field 
                checkbox(checked="{{autoCompile}}") Autocompile
                +unless('autoCompile')
                    ack-button.teal(on-click="compileDesignDocument") Compile
            +unless('autoCompile')
                .field 
                    ace-editor(code="{{ designDocument.javascript }}" mode="javascript" theme="xcode")
            .field
                .ui.action.input 
                    input(value="{{ documentId }}" placeholder="_design/myDesignDocument")
                    ack-button.red(on-click="putDesignDocument") Put Auth Document!
    .ui.segment
        h2.ui.header Get View
        .ui.form
            .fields
                .field 
                    label View 
                    input(value="{{getView_view}}" placeholder="mydesigndoc/myview")
                .field 
                    label Params 
                    json-edit(value="{{getView_params}}" style="height: 100px")
                .field 
                    label Get
                    ack-button(on-click="getView") Get View
            
            .field
                label Result (also in the console)
                pre(style="overflow-x: scroll; min-height: 300px; border: 1px solid black") {{getView_result}}
                
    .ui.segment   
        h3.ui.top.attached.header 
            //- Dump all design documents 
            checkbox.blue(checked="{{dumpAllSection}}") Show
            | Dump All Design Documents  

        +if('dumpAllSection')  
            .ui.buttons
                ack-button.green(on-click="downloadBlueprints") Get All Documents
                file-upload.red(on-choose="restoreDesignDocs" type="text") Restore 
            h3 Notes for Creating a New Database From Scratch
            ol
                li Use Fauxton to create a new database 
                li Create a user different from #[code admin]
                li.
                    Create appropriate #[code _security] file in the new database
                    and add the user as #[code admin]
                li Upload your #[code _design/*] files
