include ../../templates/mixins.jade
.form-group
    .input-group.date(id='{{id}}')
        input.form-control(type='text' readonly)
        span.input-group-addon
            span.glyphicon.glyphicon-calendar
