+component('date-picker')
    | selam19
    
    .form-group
        #datetimepicker11.input-group.date
            input.form-control(type='text')
            span.input-group-addon
                span.glyphicon.glyphicon-calendar
    script(type='text/javascript').
        $(function () {
        $('#datetimepicker11').datetimepicker({
        daysOfWeekDisabled: [0, 6]
        });
        });
    | naber15
