+component('date-picker')
    .form-group
        #datetimepicker11.input-group.date
            input.form-control(type='text')
            span.input-group-addon
                span.glyphicon.glyphicon-calendar
