include ../../templates/mixins.jade
    
+partial('jq-flipswitch-v2')
  .jq-flipswitch-v2
    input.jq-flipswitch-v2__switch(
      id="{{ .actor_id }}-switch"
      data-pin-name="{{ .pin_name }}"
      type="checkbox"
      )
    
