include ../../templates/mixins.jade
    
+partial('jq-flipswitch-v2')
  label
    select(
      data-role="slider"
      data-pin-name="{{ .pin_name }}"
      )
      option(value="off") Off
      option(value="on") On
    | {{ .wid }}
