mixin iff(condition)
    != '{{#if ' + condition + '}}'
    block

mixin elif(condition)
    != '{{elseif ' + condition + '}}'
    block

mixin else
    != '{{else}}'
    block
        
mixin endif
    != '{{/if}}'

mixin if(condition)
    != '{{#if ' + condition + '}}'
    block
    != '{{/if}}'

mixin unless(condition)
    != '{{#unless ' + condition+ '}}'
    block
    != '{{/unless}}'

mixin each(name)
    != '{{#each ' + name + '}}{{#with @local as _tmp}}'
    block
    != '{{/with}}{{/each}}'

mixin with(name)
    != '{{#with ' + name + '}}'
    block
    != '{{/with}}'

mixin partial(name)
    != '{{#partial ' + name + '}}'
    block
    != '{{/partial}}'
    
mixin apply(content)
    != '{{>' + content + ' }}'

mixin component(name)
    != '<script id="' + name  + '" type="text/ractive">'
    block
    != '</script>'

mixin hideif(condition)
    != '<div style="{{#if (' + condition + ') }}display: none;{{else}}display: inline{{/if}}">'
    block 
    != '</div>'

mixin showif(condition)
    != '<div style="{{#if ! (' + condition + ') }}display: none;{{else}}display: inline{{/if}}">'
    block 
    != '</div>'
    
mixin space
    != '&nbsp;'

mixin set(key, value)
    != '{{ @.set("' + key + '", ' + value + ') && "" }}'