extends ../templates/template.jade

block title
    title Search-Combobox
block script
    script(src="http://cdn.jsdelivr.net/jquery.flot/0.8.3/jquery.flot.min.js")
    script(src="search-combobox.js")

block ractive
    inspina-menu
    inspina-theme
        inspina-header
        inspina-content
            h1 Welcome in INSPINIA Static SeedProject

            small It is an application skeleton for a typical web app. You can use it to quickly bootstrap your webapp projects and dev environment for these projects.

            search-combobox(data="{{productList}}" selected="{{x}}" multiple="")
            p selected: {{x}}

        inspina-footer
