extends ../templates/template.jade

block title
    title Search-Combobox
block script
    script(src="http://cdn.jsdelivr.net/jquery.flot/0.8.3/jquery.flot.min.js")
    script(src="search-combobox.js")

block ractive
    inspina-theme
        inspina-menu
        inspina-right
            inspina-header
                span Naber Mahmut
            
            inspina-content
                h1 Welcome in INSPINIA Static SeedProject

                search-combobox(data="{{productList}}" selected="{{x}}" multiple="multiple") // multiple selected option
                p selected: {{x}}
                search-combobox(data="{{productList}}" selected="{{x}}" )  //  single selected option
                
                search-combobox(data="{{productList}}" selected="{{x}}" multiple="") // other use for single selected option
            inspina-footer
