extends ../templates/template.jade

block title
    title Show Case

block script
    script(src="showcase.js")
    
block ractive
    inspina-theme
        inspina-menu
        inspina-right
            inspina-header
                span AKTOS.io
            
            inspina-content
                
                row
                    date-picker
                    date-picker
                    date-picker

                row
                    ack-button(state="{{ buttonState }}") MY BUTTON
                    ack-button(state="{{ buttonState }}") MY BUTTON2
                    ack-button(state="{{ buttonState }}") MY BUTTON3

                row
                    search-combobox(data="{{productList}}" selected="{{x}}")
                    p selected: {{x}}
                
                row
                    search-combobox(db="{{ db }}" view="customers/getReceipts" selected="{{y}}")
                    p selected: {{y}}

                row
                    | {{#each [1,2,3]:i}}
                    div.box
                        pie-chart(names="Kekik,Peynir,Zeytin,Mahmut" values="{{simulateData(i)}}")
                    | {{/each}}
                

            inspina-footer
                +partial('mahmut')
                    span aktos.io
                    
                +partial('left')
                    span showcase page
