extends ../templates/template.jade

block title 
    title Show Case 
block script   
    script(src="http://cdn.jsdelivr.net/jquery.flot/0.8.3/jquery.flot.min.js")          
    script(src="show-case.js")  

block ractive 
    inspina-menu
    inspina-theme
        inspina-header
        inspina-content
            h1 Welcome12 in INSPINIA Static SeedProject

            search-combobox(data="{{productList}}" selected="{{x}}")
            p selected: {{x}}
            
            flot-chart(data1="{{data1}}" data2 ="{{data2}}")
                           
            div
                | {{#each [1,2,3]:i}}
                div.box
                    pie-chart(names="Kekik,Peynir,Zeytin,Mahmut" values="{{simulateData(i)}}")
                | {{/each}}
            
        
        inspina-footer
         



   

