.input-field
    | {{#if unit}}
    .input-group
        input.form-control(value="{{ value }}" placeholder="{{ placeholder }}" type="{{ type }}")
        span.input-group-addon {{ unit }}
    | {{else}}
    .input-field-wrapper
        .input-field-wrapper-row
            .input-field-wrapper-col
                input(value="{{ value }}" placeholder="{{ placeholder }}" type="{{ type }}")
            .input-field-wrapper-col
                | {{yield}}
    | {{/if}}
