+iff('unit')
    .input-field.ui.right.labeled.transparent.input
        input(value="{{ value }}" placeholder="{{ placeholder }}" type="{{ type }}")
        .ui.basic.label {{ unit }}
+else
    .input-field(class="{{ class }}" style="{{ style }}")
        .ui.transparent.input(style="padding: 5px")
            input(value="{{ value }}" placeholder="{{ placeholder }}" type="{{ type }}")
        .input-field-inner
            | {{ yield }}
+endif
