+iff('unit')
    .input-field.ui.right.labeled.input
        input(value="{{ value }}" placeholder="{{ placeholder }}" type="{{ type }}")
        .ui.basic.label {{ unit }}
+else
    .input-field.ui.form(class="{{ class }}" style="{{ style }}")
        .fields 
            .field
                .ui.input
                    input(value="{{ value }}" placeholder="{{ placeholder }}" type="{{ type }}")
            .field
                | {{ yield }}
+endif
