.input-field {
    display: inline-block;
    padding: 0;
}
.input-field-wrapper {
    border: 1px solid lightgray;
    border-radius: 3px;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0; padding: 0;
}

/* input field's input element */
.input-field-input {
    min-width:10px;
    display: inline-table;
    margin: 0; padding: 0;
}
.input-field-input > input {
    border: none;
    padding: 6px 0 6px 8px;
    display:table-cell;
    width:100%;
}

/* input-field's unit */
.input-field-unit {
    vertical-align: middle;
        margin: 0; padding: 0;

}
