.input-field
    | {{#if unit}}
    .ui.right.labeled.input
        input(value="{{ value }}" placeholder="{{ placeholder }}" type="{{ type }}")
        .ui.basic.label {{ unit }}
    | {{else}}
    //- input-field with custom unit
    .ui.right.action.input
        input(value="{{ value }}" placeholder="{{ placeholder }}" type="{{ type }}")
        | {{ yield }}
    | {{/if}}
