.ui.basic.modal
    .ui.icon.header 
        i.warning.sign.icon 
        | {{ modalTitle }} 
    
    .content {{ modalMessage }} 
    
    //-
        +if('confirmationType !== null')
            .modal-footer
                button.btn.btn-success(type="button" on-click='@this.fire("closeYesNo", true)') Evet
                button.btn.btn-danger(type="button" on-click='@this.fire("closeYesNo", false)') Hayır
        
    .actions 
        .ui.red.basic.cancel.inverted.button 
            i.remove.icon 
            | No 
        .ui.green.ok.inverted.button 
            i.remove.icon 
            | Yes 
