.jq-flipswitch-v2 {
  width: auto;
  height: auto;
}

.jq-flipswitch-v2__switch {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.slow .toggle-group { transition: left 0.7s; -webkit-transition: left 0.7s; }
.fast .toggle-group { transition: left 0.1s; -webkit-transition: left 0.1s; }
.quick .toggle-group { transition: none; -webkit-transition: none; }

/*
<input checked data-toggle="toggle" data-style="slow" type="checkbox">
<input checked data-toggle="toggle" data-class="fast" type="checkbox">
<input checked data-toggle="toggle" data-style="quick" type="checkbox">
*/
