//-
    parameters:
        col-names="comma, separated, column, names"
        filename="generated file's filename"
        tabledata="tableview formatted data (see data-table component)"

a.ui.button(on-click="__preparePrint" class="{{class}}") {{yield}}
