.draggable {
  border: 2px dashed yellowgreen;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

}

.draggable-locked {
  border: 2px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
