.draggable {
  border: 2px dashed yellowgreen;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

}

.draggable-locked {
  border: 2px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

}

.scada-generate-layout h3{
  background-color: yellow;
}
.scada-generate-layout__textarea {
    width: 99%;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background-color: red;
}

.scada {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
-webkit-touch-callout: none;
    -khtml-user-select: none;
  margin: 0;
  padding: 0;
}

.scada-drawing-area {
  min-width: 500px;
  overflow: auto;
  margin: 0;
  padding: 0;

  /* scada theme is set by ractive.data.scada_theme and these two below */
  background-color: #252525 !important;
  color: white;
  font-size: 0.9em; 

}
.scada-container {
  width: 1366px;
  min-height: 500px;
  white-space: nowrap;
  display: inline-block;
  position: relative; /* this is extremely important for relative widget positioning */
  left: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
}

.scada .panel-body {
  padding: 0;
}
