.draggable {
  border: 2px dashed yellowgreen;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

}

.draggable-locked {
  border: 2px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.scada-generate-layout h3{
  background-color: yellow;
}
.scada-generate-layout__textarea {
    width: 99%;
   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    background-color: red;
}

.scada {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
-webkit-touch-callout: none;
    -khtml-user-select: none;

}
