include ../../templates/mixins.jade

+partial('connection-status')
  |  <div class="connection-status"
  |    style='background-color: {{ .connected ? "yellowgreen" : "lightgray" }}'>
  |    {{.connected? "connected..." : "connecting..." }}
  |  </div>
