.ui.button(
    class!="                            \
        {{#disabled}}disabled{{/}}      \
        {{#active}}active{{/}}          \
        {{ class }}                     \
        {{#if state === 'pressed'}}     \
            {{ ~/['pressed-color'] }}   \
        {{elseif state == 'released'}}  \
            {{ ~/['released-color'] }}  \
        {{elseif state === 'doing'}}    \
            shadowed-button             \
        {{/if}}                         \
    "
    style="{{style}} {{#error}}; outline: 3px dashed red{{/}}"
    as-popup="tooltip"
    ) 
    | 
    +iff('pressed === null || pressed === undefined')
        | ---
    +else
        | {{yield}}
    +endif
