.ui.button(
    class!="                            \
        {{#disabled}}disabled{{/}}      \
        {{#active}}active{{/}}          \
        {{ class }}                     \
        {{#if state === 'pressed'}}     \
            {{ ~/['pressed-color'] }}   \
        {{elseif state == 'released'}}  \
            {{ ~/['released-color'] }}  \
        {{elseif state === 'doing'}}    \
            shadowed-button             \
        {{/if}}                         \
    "
    style="{{style}}"
    title="{{title}}{{tooltip}}"
    ) 
    | {{yield}}
