//- table form controls 
+partial('controls')    
    .ui.buttons(class="{{cls}}" style="{{style}}") 
        .ui.button.icon(
            on-click="@.set('editable', false)"
            class-orange="!editable"
            ): icon.tv 
        .ui.button.icon(
            on-click="@.set('editable', true)"
            class-orange="editable"
            ): icon.write

        btn.inverted.red.icon(on-click="closeRow" tooltip="Close"): icon.remove
