include ./controls.pug 

//- tableview partials 
+partial('renderMarkup').
    {{#if typeof . === 'string'}}
        {{> { template: . } }}
    {{else}}
        {{{ . }}}
    {{/if}}


//- Table
+iff('firstRunDone')
    +iff('mode === "add-new"')
        +if('addingNew')
            +apply('editForm') 
    +else
        include ./table.pug
    +endif
+else
    include ./first-loading.pug
+endif

//- uncomment if page-wide dimmer is required
//include ./open-row-dimmer.pug
