//- display "Loading" indicator till first fetch of the tabledata  
    .ui.active.centered.inline.big.text.loader Yükleniyor  
.ui.icon.message 
    i.notched.circle.loading.icon 
    .content 
        .header Just one second 
    p We're fetching table content for you. 
