.ui.page.dimmer.table-section-of-data-table
    .content
        .center 
            .ui.active.big.text.loader
                p {{ openingRowMsg }}
                btn.small.inverted.red.icon(on-buttonclick="closeRow" tooltip="Kapat") #[i.remove.icon] Cancel
