.jq-slider {
  padding: 10px;
  max-width: 100vw; 
}
.jq-slider .ui-input-text {
  height: 50px;
  padding: 10px;
  position: relative;
  top: -10px;
  background-color: #505050;
}

.jq-slider .ui-slider-track {
  position: relative;
  top: -50px;
}
