+component('stacked-bar-chart')
    svg.chart(width='1200', height='40', aria-labelledby='title desc', role='img')
        +each ("getGraphData(data):i")
            g.bar(on-mouseover='set("selected", i)', on-mouseout='set("selected", null)')
                rect(width='{{amount * 5}}', height='38', y='0', x='{{startX*5}}', style='fill: {{ getColor(i) }}')
                text(font-family='monospace', font-weight='bold', font-size='15', fill='white',
                    text-anchor='middle', x='{{ centerX * 5 }}', y='19', dy='.35em') {{amount}}
