
//- contact page 
#contact-page(data-role='page', data-theme='b')
  | {{>nav-bar {active_button: 'contact-page'}}}
  h2 İLETİŞİM
  .content
    dl.dl-horizontal
      dt
        a(data-role='button', href='mailto:info@aktos-elektronik.com')
          img(src='img/icons/64x64/@.png')
      dd(style='padding: 2em;') info@aktos-elektronik.com
      dt
        .hidden-desktop
          a(data-role='button', href='tel:+905553066003')
            img(src='img/icons/64x64/microphone.png')
        .visible-desktop
          a(data-role='button', href='#')
            img(src='img/icons/64x64/microphone.png')
          
      dd(style='padding: 2em;')  0(555) 306 6003 
      dt
        .hidden-desktop
          a(data-role='button', href='geo:38.393927,27.036649')
            img(src='img/icons/64x64/pin.png')
        .visible-desktop
          a(data-role='button', href='#')
            img(src='img/icons/64x64/pin.png')
      dd(style='padding: 2em;')
        div
          | DEÜ Tıp Fakültesi Kampüsü DEPARK Teknoloji Geliştirme Bölgesi Ofis: P2/E Balçova İzmir
        .hidden-phone(style='padding-top: 2em;')
          img(style='background-image: url(https://static-maps.yandex.ru/1.x/?lang=en-US&ll=-73.7638,42.6564&z=13&l=map&size=600,300);', src='https://static-maps.yandex.ru/1.x/?lang=en-US&ll=-73.7638,42.6564&z=13&l=map&size=600,300', alt='Yandex Map of -73.7638,42.6564')

