
.panel.panel-primary
  .panel-heading
    h3.panel-title Grafik 
  .panel-body
    .row.
      {{>line-graph {pin_name: 'line-graph-1'} }}
      {{>slider {pin_name: 'line-graph-1'} }}
    .row.
      {{>line-graph {pin_name: 'line-graph-2'} }}
      {{>slider {pin_name: 'line-graph-2'} }}

.panel.panel-primary
  .panel-heading
    h3.panel-title Basit göstergeler 
  .panel-body
    .row.
    
      {{#partial test_0}}
      {{>simple-display {pin_name: 'gauge-slider1'} }}
      {{/partial}}

      {{#partial test}}
        {{>test_0}}
        {{>test_0}}
        {{>test_0}}


      {{/partial}}

      {{#partial test2}}
      {{>test}}
      {{>test}}
      {{>test}}
      {{>test}}
      {{>test}}
      {{>test}}
      {{>test}}
      {{>test}}
      {{>test}}
      {{>test}}
      {{>test}}
      {{>test}}
      {{>test}}
      {{>test}}
      {{>test}}
      {{>test}}
      {{/partial}}
      
      {{#partial test3}}
      {{>test2}}
      {{>test2}}
      {{>test2}}
      {{>test2}}
      {{>test2}}
      {{>test2}}
      {{>test2}}
      {{>test2}}
      {{>test2}}
      {{>test2}}
      {{>test2}}
      {{>test2}}
      {{>test2}}
      {{/partial}}
      
        
      {{>test}}
      
      {{>simple-display {pin_name: 'gauge-slider2'} }}
      {{>slider {pin_name: 'gauge-slider1'} }}
      {{>slider {pin_name: 'gauge-slider2'} }}
      
.panel.panel-danger
  .panel-heading
    h3.panel-title Performans testi
  .panel-body
    .row
      .col-sm-3.
        {{>gauge {pin_name: 'gauge-slider',  type: 'ping'} }}
      .col-sm-3.
        {{>gauge {pin_name: 'gauge-slider',  type: 'upload'} }}
      .col-sm-3.
        {{>gauge {pin_name: 'gauge-slider',  type: 'download'} }}
      .col-sm-3.
        {{>gauge {pin_name: 'gauge-slider',  type: 'speed'} }}     
    .row.
      {{>slider {pin_name: 'gauge-slider',  val: 45} }}

    .row
      .col-sm-4.
        {{>spinbox {pin_name: 'gauge-slider',  val: 35} }}
        {{>slider {pin_name: "spinbox-test"} }}

    .row.
      {{>seven-segment {pin_name: 'gauge-slider',  format: '##'}}}
      {{>seven-segment {pin_name: 'gauge-slider',  format: '#######.##'}}}
      {{>seven-segment {pin_name: 'gauge-slider',  format: '####.#'}}}
      {{>seven-segment {pin_name: 'gauge-slider',  format: '##.###'}}}
      {{>slider {pin_name: 'gauge-slider',  val: 45} }}

    
    .row. 
      
      {{>thermometer {pin_name: 'gauge-slider'} }}
      {{>thermometer {pin_name: 'gauge-slider'} }}
      {{>thermometer {pin_name: 'gauge-slider'} }}
      {{>thermometer {pin_name: 'gauge-slider'} }}
      {{>thermometer {pin_name: 'gauge-slider'} }}
    
      

.panel.panel-primary
  .panel-heading
    h3.panel-title Spinbox
  .panel-body
    .row
      .col-sm-4.
        {{>spinbox {pin_name: "spinbox-test", val: 35} }}
        {{>slider {pin_name: "spinbox-test"} }}

.panel.panel-primary
  .panel-heading
    h3.panel-title Toolbars
  .panel-body
    .row
      .col-sm-offset-4.col-sm-4
        div.
          {{>toolbar {buttons: [
            '#link1 fa-car', 
            '#link2 fa-heart', 
            '#link3', 
            '#link4 fa-car', 
            '#link5 fa-plane' 
            ], icon: 'fa-cog'} }}        

.panel.panel-primary
  .panel-heading
    h3.panel-title Göstergeler
  .panel-body
    .row
      .col-sm-3.
        {{>gauge {pin_name: 'gauge-slider', type: 'ping'} }}
      .col-sm-3.
        {{>gauge {pin_name: 'gauge-slider', type: 'upload'} }}
      .col-sm-3.
        {{>gauge {pin_name: 'gauge-slider', type: 'download'} }}
      .col-sm-3.
        {{>gauge {pin_name: 'gauge-slider', type: 'speed'} }}     
    .row.
      {{>slider {pin_name:"gauge-slider", val: 45} }}

    

.panel.panel-primary
  .panel-heading
    h3.panel-title Giriş Formu
  .panel-body
    :md
      Test şifreleri: 
      
        * cca12345
        * me12345
        * tk12345
    div
      div Login input: {{>login-input {} }}
      div Login status {{>login-info {} }}
    
    
.panel.panel-primary
  .panel-heading
    h3.panel-title Nümerik Klavye
  .panel-body
    .row
      .col-sm-4.
        {{>numeric-keyboard {} }}
      .col-sm-4.
        {{>numeric-keyboard {} }}
      .col-sm-4.
        {{>numeric-keyboard {} }}

.panel.panel-primary
  .panel-heading
    h3.panel-title Tablo
  .panel-body.
    {{>table {pin_name: 'test-table'} }}
.panel.panel-primary
  .panel-heading
    h3.panel-title SevenSegment
  .panel-body
    .row.
      {{>seven-segment {pin_name: 'segment-slider', type: 'classic', format: '##'}}}
      {{>seven-segment {pin_name: 'segment-slider', type: 'multimeter', format: '#######.##'}}}
      {{>seven-segment {pin_name: 'segment-slider', type: 'speed', format: '####.#'}}}
      {{>seven-segment {pin_name: 'segment-slider', type: 'basic', format: '##.###'}}}
      {{>slider {pin_name:"segment-slider", val: 45} }}

.panel.panel-primary
  .panel-heading
    h3.panel-title Circular-Progress
  .panel-body
    .row
      .col-md-2.
        {{>circular-progress {pin_name: 'progress-slider'} }}
      .col-md-2.
        {{>circular-progress {pin_name: 'progress-slider',color: 'yellowgreen green'} }}
      .col-md-2.  
        {{>circular-progress {pin_name: 'progress-slider', color: 'white orange'} }}
    .row.
      {{>slider {pin_name:"progress-slider", val: 45} }}

.panel.panel-primary
  .panel-heading
    h3.panel-title Buttons
  .panel-body
    .row
      .col-md-2.
        {{>switch-button-basic {pin_name: 'test-pin', label: 'Test pin'} }}
      .col-md-2.
        {{>jq-checkbox {pin_name: 'test-pin', label: 'Test pin'} }}
      .col-md-2.
        {{>toggle-switch {pin_name: 'test-pin'} }}
      .col-md-2.
        {{>switch-button {pin_name: 'test-pin', label: 'TEST PIN'} }}
      .col-md-2.
        {{>push-button {pin_name: 'test-pin', label: 'TEST PIN'} }}
      .col-md-2.
        {{>status-led {pin_name: 'test-pin'} }}
    .row
      .col-sm-offset-4.col-sm-4.
        {{>arrow-keys {} }}
        
.panel.panel-primary
  .panel-heading
    h3.panel-title Sliders
  .panel-body
    .row
      .col-md-12.
        {{>slider {pin_name:"slider-2", val: 45} }}

    .row
      .col-md-6.
        {{>slider {pin_name:"slider-1", val: 25} }}
        
      .col-md-6.
        {{>analog-display {pin_name: 'slider-1'} }}
        
    .row
      .col-md-3.
        {{>b-progress-bar {pin_name: 'slider-1', val: 55} }}

.panel.panel-primary
  .panel-heading
    h3.panel-title Grafikler
  .panel-body
    .row
      h3 Stacked progress 
      div. 
        {{>slider {pin_name:"slider-1", val: 25} }}
        {{>slider {pin_name:"slider-2", val: 25} }}
        {{>slider {pin_name:"slider-3", val: 25} }}
        {{>slider {pin_name:"slider-4", val: 25} }}
        {{>slider {pin_name:"slider-5", val: 25} }}

        {{>b-stacked-progress 
          {pin_names: [ 
              ['slider-1', 'red'], 
              ['slider-2', ''], 
              ['slider-3', 'green'],
              ['slider-4', 'blue'],
              ['slider-5', 'orange']
            ]
          }
        }}

.panel.panel-primary
  .panel-heading
    h3.panel-title Sensörler
  .panel-body
    .row. 
      {{>thermometer {pin_name: 'slider-1'} }}
      {{>thermometer {pin_name: 'slider-2'} }}
      {{>thermometer {pin_name: 'slider-3'} }}

.panel.panel-primary
  .panel-heading
    h3.panel-title Ofisteki Termometreler
  .panel-body
    .row
      .col-sm-6.
        {{>thermometer {pin_name: 'therm-1'} }}
        {{>seven-segment {pin_name: 'therm-1', type: 'speed', format: '###.###'}}}
      .col-sm-6.
        {{>thermometer {pin_name: 'therm-2'} }}
        {{>seven-segment {pin_name: 'therm-2', type: 'speed', format: '###.##'}}}
      
.panel.panel-primary
  .panel-heading
    h3.panel-title Kullanıcı girişleri
  .panel-body
    .row
      .col-md-6
        h2 Textbox
        div.
          {{>textbox {pin_name: 'test-pin', val: 'test value'} }}


div(data-role="collapsible")
  h3  Delphi simulation 
  fieldset(data-role='controlgroup', data-type='horizontal')
    | {{>switch-button {pin_name: 'forward-limit', label: 'F-limit'} }}
    | {{>switch-button {pin_name: 'backwards-limit', label: 'B-limit'} }}
  fieldset(data-role='controlgroup', data-type='horizontal')
    | {{>push-button {pin_name: 'move-forward', label: 'Forward'} }}
    | {{>push-button {pin_name: 'move-backwards', label: 'Backwards'} }}
    | {{>push-button {pin_name: 'forward-limit', label: 'F-limit'} }}
    | {{>push-button {pin_name: 'backwards-limit', label: 'B-limit'} }}
  fieldset(data-role='controlgroup', data-type='horizontal')
    | {{>status-led {pin_name: 'piston.enab'} }}
    | {{>status-led {pin_name: 'piston.dir'} }}

div(data-role="collapsible")
  h3  Test looping 
  | {{>switch-list {my_list: ["hello", "world"], connected: true} }}

div(data-role="collapsible")            
  h3 Graph
  .ui-grid-a(style='height: 300px')
    .ui-block-a(style='height: 100%')
      | {{>line-graph {pin_name: 'line-graph-1'} }}
    .ui-block-b
      | {{>slider {pin_name:"slider-2", val: 25} }}
      
div(data-role="collapsible")            
  h3 Slider 
  .div.
    {{>analog-display {pin_name: 'slider-1'} }}
    
    {{>slider {pin_name:"slider-1", val: 45} }}
    {{>slider {pin_name:"slider-1", val: 45} }}
    {{>slider {pin_name:"slider-1", val: 45} }}

div(data-role="collapsible")            
  h3  Analog display 
  fieldset(data-role='controlgroup', data-type='horizontal')
    | {{>analog-display {pin_name: 'analog-1'} }}
    | {{>analog-display {pin_name: 'analog-2'} }}
    | {{>analog-display {pin_name: 'slider-2'} }}
