
//- demos page 
#demos(data-role='page', data-theme='b')
  .scada
    | {{>nav-bar {active_button: 'demos'}}}

    .row
      .col-md-2.col-xs-4
        ul.nav.nav-tabs
          li.active
            a.dropdown-toggle(
              data-toggle="dropdown"
              href="#"
              ) Demo Sayfaları
              
            ul.dropdown-menu
              li
                a(href="#") 
                  span.glyphicon.glyphicon-envelope
                  span Kablo zırhı kesme makinesi


            
      .col-md-offset-1.col-md-8.col-md-offset-1.col-xs-8        
      
        .row(style="margin: 2em;")
          h2(class="text-center")
            :md 
              **aktos-scada** Demo
        
          .col-md-offset-3.col-md-6.col-md-offset-3
            :md
              Bu sayfada **aktos-scada**'da kullanılan 
              görsel nesnelerin örnekleri bulunur. 
    .row
      .col-md-offset-1.col-md-10.col-md-offset-1
        include demos-showcase.jade
            
    | {{>connection-status {}}}
