
//- demos page 
#demos(data-role='page', data-theme='b')
  | {{>nav-bar {active_button: 'demos'}}}
  .scada
    | {{>nav-bar {active_button: 'demos'}}}

    .content
      .row
        .col-md-2.col-xs-4
          ul.nav.nav-pills.nav-stacked
            li.active
              a Demo Sayfaları
            li.
              {{>demo-buttons {
                label: 'Kablo kesici',
                addr: '#kablo-kesici'}
              }}
            li.
              {{>demo-buttons {
                label: 'Atıksu arıtma tesisi',
                addr: '#kablo-kesici'}
              }}
            li.
              {{>demo-buttons {
                label: 'Üretim takip sistemi 1',
                addr: '#kablo-kesici'}
              }}
            li.
              {{>demo-buttons {
                label: 'Üretim takip sistemi 2',
                addr: '#kablo-kesici'}
              }}
            li.
              {{>demo-buttons {
                label: 'Kompanzasyon takip 1',
                addr: '#kablo-kesici'}
              }}
            li.
              {{>demo-buttons {
                label: 'Sıcaklık takip',
                addr: '#kablo-kesici'}
              }}
            li.
              {{>demo-buttons {
                label: 'Su deposu otomasyonu',
                addr: '#kablo-kesici'}
              }}

              
        .col-md-offset-1.col-md-8.col-md-offset-1.col-xs-8        

          .row(style="margin: 2em;")
            h2(class="text-center")
              :md 
                **aktos-scada** Demo
          
            .col-md-offset-3.col-md-6.col-md-offset-3
              :md
                Bu sayfada **aktos-scada**'da kullanılan 
                görsel nesnelerin örnekleri bulunur. 
                  
          include demos-showcase.jade
            
    | {{>connection-status {}}}
