#home-page(data-role='page', data-theme='b')
  | {{>nav-bar {active_button: 'home-page'}}}
  
  //- #header1
      
  .content
    .row
      .col-sm-offset-1.col-sm-10.col-sm-offset-1
        img(
          src="img/aktos-logo-2.3.png"
          style="width: 100%; margin: -10px;"
        )
    .row
      .col-sm-offset-1.col-sm-4.home-col-padding
        | {{#with page.home.aboutUs}}
        h2 {{ .header }}
        | {{{ marked( .bodyShort ) }}}
        | {{/with}}
      .col-sm-offset-1.col-sm-4.home-col-padding
        h2 Etkinlikler
        | {{#each page.home.news }}
        h3 {{ .header }}
        | {{{ marked( .bodyShort ) }}}
        | {{/each}}
        
  | {{>connection-status {}}}
