style.
  #home-page {
    background-image: url('../img/aktos-elektronik/home-page/aktos-arkaplan-site.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .home-col-padding {
    margin-left: 2em;
    margin-right: 2em;
  }



#home-page(data-role='page', data-theme='b', style="padding-bottom: 100px")
  | {{>nav-bar {active_button: 'home-page'}}}
  
  .content
    .row
      .col-sm-offset-1.col-sm-10.col-sm-offset-1
        img(
          src="img/aktos-logo-2.3.png"
          style="width: 100%; margin: -10px;"
        )
    .row
      .col-sm-offset-1.col-sm-4.home-col-padding
        | {{#with page.home.aboutUs}}
        h2 {{ .header }}
        | {{{ marked( .bodyShort ) }}}
        | {{/with}}
      .col-sm-offset-1.col-sm-4.col-sm-offset-1.home-col-padding
        h2 Etkinlikler
        | {{#each page.home.news }}
        h3 {{ .header }}
        | {{{ marked( .bodyShort ) }}}
        | {{/each}}
        
  | {{>connection-status {}}}
