#mms(data-role='page', data-theme='b')
  p Naber
  a(href='#mms-1') Sayfa-1
  a(href='#mms-2') Sayfa-2
  .row
    .col-sm-offset-3.col-sm-4
      //- #mesut
      div.
        <div data-toolbar="hide-option" class="btn-toolbar btn-toolbar-primary"><i class="fa fa-cog"></i></div>
      div.
        <div id="transport-options" class="hidden">
          <a href="#"><i class="fa fa-plane"></i></a>
          <a href="#"><i class="fa fa-car"></i></a>
          <a href="#"><i class="fa fa-bicycle"></i></a>
        </div>
      
#mms-1(data-role='page', data-theme='b')
  p İyidir
  a(href='#mms') Sayfa-0
  a(href='#mms-2') Sayfa-2
  
#mms-2(data-role='page', data-theme='b')
  p Senden
  a(href='#mms') Sayfa-0
  a(href='#mms-1') Sayfa-1
  