#mms(data-role='page', data-theme='b')
  p Naber
  a(href='#mms-1') Sayfa-1
  a(href='#mms-2') Sayfa-2
  div.vcenter.
    {{>toolbar {buttons: [
      '#naber fa-car', 
      '#naber1 fa-car', 
      '#naber2', 
      '#naber3', 
      '#naber4', 
      '#naber5 fa-car', 
      '#naber6 fa-car', 
      '#iyidir fa-plane' 
      ], icon: 'fa-cog'} }}
      
#mms-1(data-role='page', data-theme='b')
  p İyidir
  a(href='#mms') Sayfa-0
  a(href='#mms-2') Sayfa-2
  
#mms-2(data-role='page', data-theme='b')
  p Senden
  a(href='#mms') Sayfa-0
  a(href='#mms-1') Sayfa-1
  