#mms(data-role='page', data-theme='b')
  p Naber
  a(href='#mms-1') Sayfa-1
  a(href='#mms-2') Sayfa-2

      
  div.
    {{>spinbox {pin_name: "spinbox-test", val: 35} }}
    {{>slider {pin_name: "spinbox-test"} }}

  div.
    <div class="ui-btn ui-icon-plus">TEST </div>
      
#mms-1(data-role='page', data-theme='b')
  p İyidir
  a(href='#mms') Sayfa-0
  a(href='#mms-2') Sayfa-2
  
#mms-2(data-role='page', data-theme='b')
  p Senden
  a(href='#mms') Sayfa-0
  a(href='#mms-1') Sayfa-1
  