//- products page 
#products(data-role='page', data-theme='b', style="padding-bottom: 100px").
  {{>nav-bar {active_button: 'products'}}}
  
  {{#each page.products}}
    <div style="
      width: 40em;  
      height: 25em; 
      display: inline-block;
      margin: 5px;
      padding: 0;
      ">
      
      <a href="{{ .addr ? .addr : '#' }}">
        <div  style="
          width: 100%; 
          height: 100%; 
          background: url({{.src}}) no-repeat center center ;
          background-size: cover;
          position: relative; 
          ">
          
          <div style="
            background-color: rgba(0, 0, 0, 0.8);
            position: absolute; 
            left: 0; 
            bottom: 0; 
            color: white; 
            width: 100%; 
            height: 8em; 
            
            "> 
            
            <div style="
              font-weigth: bold; 
              font-size: 2em; 
              width: 40%; display: 
              inline-block; 
              padding: auto; ">
              {{.label}}</div> 
            <div style="
              display: inline-block; 
              width: 50%; 
              padding: auto; 
              ">
              {{ .shortDesc }}
            </div>
          </div>
        </div>
      </a>
    </div>
  {{/each}}
