//- products page 
#products(data-role='page', data-theme='b')
  | {{>nav-bar {active_button: 'products'}}}
  
  a(
    href="#test-popup"
    data-rel="popup"
    ).
    test popup link 
    
  #test-popup(data-role='popup').
    bu nedir ya