#test-page-1(data-role="page")
  h3 
    a(href="#") this link goes nowhere... 
  h3 
    a(href="#test-div-4") this link scrolls to test anchor 1, link should be #/test-page-1/test-anchor-1
  h3 
    a(href="#/test-page-2") this will change page to test-page-2
  h3 
    a(href="#") this link does whatever its function says
  
  div.
    <div class="container">
      <h2>Modal Example</h2>
      <!-- Trigger the modal with a button -->
      <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

      <!-- Modal -->
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
              <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
  
  #test-div-1(style="height: 500px; width: 100%; background-color: red;")
  #test-div-2(style="height: 500px; width: 100%; background-color: green;")
  #test-div-3(style="height: 500px; width: 100%; background-color: blue;")
  #test-div-4(style="height: 500px; width: 100%; background-color: pink;")
  #test-div-5(style="height: 500px; width: 100%; background-color: gray;")
