include ../../templates/mixins.jade
    
    
+partial('arrow-keys')
  .arrow-keys
    tr.
      <th></th>
      <th> {{>push-button {pin_name: 'arrow-up', label: ' ', icon: 'arrow-up', iconpos: 'bottom'} }} </th>
      <th></th>
    tr.
      <th> {{>push-button {pin_name: 'arrow-left', label: ' ', icon: 'arrow-left', iconpos: 'bottom'} }} </th>
      <th> {{>push-button {pin_name: 'arrow-center', label: ' ', icon: 'check', iconpos: 'bottom'} }} </th>
      <th> {{>push-button {pin_name: 'arrow-right', label: ' ', icon: 'arrow-right', iconpos: 'bottom'} }} </th>
    tr.
      <th></th>
      <th> {{>push-button {pin_name: 'arrow-down', label: ' ', icon: 'arrow-down', iconpos: 'top'} }} </th>
      <th></th>
