.ui.search.selection.dropdown
    input(type="hidden" name="{{_guid}}")
    i.dropdown.icon 
    .default.text {{ placeholder }}
    .menu
        +each('data')
            .item(data-value="{{.[keyField]}}") {{.[nameField]}}
