+iff('~/["text-mode"]')
    +apply('text-mode')

+elif('~/["readonly-mode"]')
    .ui.input.disabled
        input(twoway="false" value="{{ item ? item[nameField] : nothingSelected }}")
+else
    +iff('inline')
        .ui.inline.dropdown(class="{{class}} {{#loading}}loading{{/}}")
            input(type="hidden" name="{{_guid}}")
            i.dropdown.icon 
            .default.text {{ placeholder }}
            .menu
                +each('data')
                    .item(data-value!="{{.[keyField]}}") {{.[nameField]}}

    +elif('custom')
        | {{>custom}}
    +else
        .ui.search.selection.dropdown(class="{{class}} {{#loading}}loading{{/}}")
            input(type="hidden" name="{{_guid}}")
            i.dropdown.icon 
            .default.text {{ placeholder }}
            .menu
                +each('data')
                    .item(data-value!="{{.[keyField]}}") {{.[nameField]}}
    +endif
+endif

+if('debug')
    debug-obj(obj="{{item}}")
