//- text mode 
+showif('readonly')
    .ui.basic.label(
        class="{{#emptyReduced}}red{{/}}"
        ) 
        +iff('~/["selected-key"]')
            +iff('item[nameField]')
                | {{item[nameField]}}
            +else 
                span.text.red(style="font-style: italic") {{~/['selected-key']}}
            +endif
        +else 
            | {{nothingSelected}}
        +endif

//- dropdown 
+hideif('readonly')
    //- inline 
    +iff('inline')
        .ui.inline.dropdown(class="{{class}} {{#loading}}loading{{/}} {{#emptyReduced}}error{{/}}")                
            i.dropdown.icon(style="display: inline")
            //-.default.text {{ placeholder | '----' }}
            span.text -------
            .menu
                .ui.icon.search.input
                    i.search.icon
                    input(type="text" placeholder="Search...")

                +each('dataReduced as item')
                    .item(
                        data-value!="{{item[keyField]}}" 
                        class-disabled="blacklist == item[keyField]"
                        ) {{item[nameField]}}

                +if('emptyReduced && ~/["allow-addition"]')
                    ack-button.green.fluid.bottom.attached(on-click="_add")
                        icon.plus "{{~/['search-term']}}"

    //- custom 
    +elif('custom')
        +apply('custom')

    //- default 
    +else
        //-div(style="display: inline-block")
        .ui.search.selection.dropdown(class="{{class}} {{#loading}}loading{{/}} {{#emptyReduced}}error{{/}}")
            input(type="hidden" name="{{_guid}}")
            i.dropdown.icon 
            .default.text {{ placeholder }}
            .menu
                +each('dataReduced')
                    .item(data-value!="{{.[keyField]}}") {{.[nameField]}}

                +if('emptyReduced && ~/["allow-addition"]')
                    ack-button.green.fluid.bottom.attached(on-click="_add")
                        icon.plus "{{~/['search-term']}}"
                        
                +apply('addNew')
    +endif


//- ----------------------------------------------------------------------------
//- Debug output
//- ----------------------------------------------------------------------------
+if('debug')
    p guid: {{_guid}}
    debug-obj(obj="{{~/['selected-key']}}" title="'selected-key'")
    debug-obj(obj="{{item}}" title="Selected 'item'")
    debug-obj(obj="{{data}}" title="data")
