+iff('inline')
    .ui.inline.dropdown(class="{{class}}")
        input(type="hidden" name="{{_guid}}")
        i.dropdown.icon 
        .default.text {{ placeholder }}
        .menu
            +each('data')
                .item(data-value!="{{.[keyField]}}") {{.[nameField]}}

+elif('custom')
     | {{>content}}
+else
    .ui.search.selection.dropdown(class="{{class}}")
        input(type="hidden" name="{{_guid}}")
        i.dropdown.icon 
        .default.text {{ placeholder }}
        .menu
            +each('data')
                .item(data-value!="{{.[keyField]}}") {{.[nameField]}}
+endif
