.formal-field(style="display:inline-block")
    dropdown-panel
        +partial('body')
            | {{> viewForm}}
            |{{#if changelog.length > 0}}
            | &nbsp;
            ack-button(
                on-click="showPopup" 
                type="{{#if JSON.stringify(changelog[0].curr) == JSON.stringify(changelog[changelog.length-1].curr)}}primary xs{{else}}danger xs{{/if}}" 
                style="position: relative;bottom: 10px;padding: 3px 6px;" 
                value="{{changelog}}") {{changelog.length-1}}
            | &nbsp;
            |{{/if}}


        +partial('dropdown')
            .ui.form
                .field 
                    | {{> editForm}}
                .field
                    label Açıklama...
                    textarea(value="{{ message }}" )
                .field 
                    .ui.buttons
                        ack-button.green(on-click="accept") Accept
                        .or
                        ack-button.red(on-click="cancel") Cancel
