+iff('type === "color"')
    input(type="color" value="{{_value}}" bind-readonly)
+else
    div(
        contenteditable="{{!readonly}}" 
        value="{{value}}" 
        style="padding: 4px 2px; min-width: 30px; border: 1px dashed gray; display: inline; {{style}}"
        class="{{class}}")
+endif        
