include ../../templates/mixins.jade
    
    
+partial('numeric-keyboard')
  .numeric-keyboard
    table 
      tbody.
        {{#each [0, 1, 2, 3]:i}}
          <tr>
          {{#each [0, 1, 2, 3]:j}}
            <th> 
              {{>push-button {pin_name: 'keypad-' + keyboard_data[i][j], label:  keyboard_data[i][j], icon: ''} }} 
            </th>
          {{/each}}
          </tr>
        {{/each}}
        
