+iff('add')
    i.icons(on-click="click" class="{{size}}")
        i.icon(class="{{class}}")
        i.icon(class="{{add}}")
    +if('@this.partials.content')
        +space
        | {{yield}}    
+else
    i.icon(class="{{class}} {{size}}" on-click="click")
    +if('@this.partials.content')
        +space
        | {{yield}}
+endif
