+iff('add')
    i.icons(on-click="click" class="{{size}}")
        i.icon(class="{{class}}")
        i.icon(class="{{add}}")    
    | {{yield}}    
+else
    i.icon(class="{{class}} {{size}}" on-click="click") {{yield}}
+endif
