/* @import "http://fonts.googleapis.com/css?family=Montserrat:300,400,700";
*/
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.rwd-table {
  margin: 1em 0;
  min-width: 300px;
  width: 100% !important;
  border-radius: .4em;
}
.rwd-table > tbody > tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-color: #46637f;
}
.rwd-table > thead > tr > th {
  display: none;
}
.rwd-table > tbody > tr > td {
  display: block;
}
.rwd-table > tbody > tr > td:before {
  content: attr(data-th) " ";
  font-weight: bold;
  display: inline-block;
  color: black;
}

.rwd-table > tbody > tr > td:first-child {
  padding-top: .5em;
}
.rwd-table > tbody > tr > td:last-child {
  padding-bottom: .5em;
}
.rwd-table > tbody > tr:nth-child(odd) {
    background-color: rgb(0, 80, 50, 0.05);
}

.rwd-table > thead > tr > th,
.rwd-table > tbody > tr > td {
  text-align: left;
  margin: .5em 1em;
  display: table-cell;
  padding: 1em !important;
}

.rwd-table > thead > tr > th:first-child,
.rwd-table > tbody > tr > td:first-child {
  padding-left: 0;
}
.rwd-table > thead > tr > th:last-child,
.rwd-table > tbody > tr > td:last-child {
  padding-right: 0;
}


/* ------------------------------------------------------------------------ */
/* Min with should be LESS THAN 600px if you want to print as normal table! */
/* ------------------------------------------------------------------------ */

@media (min-width: 601px) {
  .rwd-table > tbody > tr > td:before {
    display: none;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  .rwd-table {
    border: 0;
  }

  .rwd-table > thead {
    display: none;
  }

  .rwd-table > tbody > tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  .rwd-table > tbody > tr > td {
    display: block;
    /*text-align: right;*/
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
  }

  .rwd-table > tbody > tr > td[data-th] {
    text-align: right;
  }

  .rwd-table > tbody > tr > td:last-child {
    border-bottom: 0;
  }

  .rwd-table > tbody > tr > td:before {
    content: attr(data-th);
    float: left;
    font-weight: bold !important;
  }

  .table > tbody > tr > td {
    border-top: 0;
  }
}

@media (max-width: 400px) {
  .rwd-table {
    border: 0;
  }

  .rwd-table > thead {
    display: none;
  }

  .rwd-table > tbody > tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  .rwd-table > tbody > tr > td {
    display: block;
    text-align: left;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    margin-left: 0;
  }

  .rwd-table > tbody > tr > td:last-child {
    border-bottom: 0;
  }

  .rwd-table > tbody > tr > td:before {
    content: attr(data-th);
    font-weight: bold;
    display: block !important;
  }

  .rwd-table > tbody > tr > td {
    border-top: 0;
  }
}
