extends ../templates/template.jade 

block title
    title Admin Page
    
block script 
    script(src="admin.js")


block components
    +component('x').
        p Naber!

block ractive
    panel(title="Login" type="{{#if login.ok}}primary{{else}}warning{{/if}}")
            
        form-vertical
            | {{#if !login.ok}}
            form-group
                b-label.col-sm-4 Username
                col-sm-8: input.form-control(value="{{user.name}}")
            form-group
                b-label.col-sm-4 Password
                col-sm-8: input.form-control(value="{{user.passwd}}")
            form-group
                btn(on-buttonclick="doLogin") Login!
            | {{else}}
            form-group 
                p Welcome {{ login.user.name }}!
                btn(on-buttonclick="doLogout") Logout
            | {{/if}}
            
    +if('login.ok')
        div Login roles: {{ login.user.roles }}            
        panel(title="Add User")
            form-vertical
                form-group
                    b-label.col-sm-4 Username
                    col-sm-8: input.form-control(value="{{newUser.name}}")
                form-group
                    b-label.col-sm-4 Password
                    col-sm-8: input.form-control(value="{{newUser.passwd}}")
                form-group
                    b-label.col-sm-4 Roles
                    col-sm-8: input.form-control(value="{{newUser.roles}}")
                form-group
                    btn(on-buttonclick="addUser") Add User!
                    
        panel(title="{{designDocument._id}}" type="success")
            form-horizontal
                form-group
                    row
                        col-sm-2
                            b-label Document ID
                        col-sm-4
                            input.form-control(value="{{designDocument._id}}")
                        col-sm-6    
                            btn-group
                                btn(on-buttonclick="getDesignDocument" type="primary").
                                    Get Document!
                                btn(on-buttonclick="putNewDesignDocument" type="danger").
                                    New Document!
                ace-editor(code="{{ designDocument.livescript }}" mode="livescript" theme="xcode")
            btn-group
                btn(on-buttonclick="putDesignDocument" type="success").
                    Put Auth Document!
                btn(on-buttonclick="compileDesignDocument" type="info").
                    Compile
            ace-editor(code="{{ designDocument.javascript }}" mode="javascript" theme="xcode")
        
        panel(title="test table")
            interactive-table(cols="aa, ee")
            
        
