.ui.basic.modal
    .ui.icon.header 
        i.icon(class="{{ icon }}")
        | {{ dimmedTitle }} 
    .content {{ dimmedMessage }}
            
    .actions 
        +each('buttons')
            .ui.inverted.button(class="{{.role}} {{.color}}")
                +if('.icon')
                    i.icon(class="{{.icon}}")
                | {{.text}}
                
