.ui.basic.modal
    .ui.icon.header 
        i.icon(class="{{ icon }}")
        | {{ dimmedTitle }} 
    .content {{ dimmedMessage }}
            
    .actions 
        +each('buttons')
            .ui.inverted.button(class="{{.color}}" on-click="['selectionMade', .action]")
                +if('.icon')
                    i.icon(class="{{.icon}}")
                | {{.text}}
                
+if('debug')
    .ui.message.red
        h2 #[code Logger] Debug Output
        textarea
            +each('debugErrorMessages')
                | {{.}}
