.ui.basic.modal
    .ui.icon.header 
        i.icon(class="{{ icon }}")
        | {{ dimmedTitle }} 
    .content {{ dimmedMessage }}
            
    .actions 
        +iff('mode === "ok"')
            .ui.green.ok.inverted.button 
                i.remove.icon 
                | Okay 
        +else
            .ui.red.basic.cancel.inverted.button 
                i.remove.icon 
                | No 
            .ui.green.ok.inverted.button 
                i.remove.icon 
                | Yes 
        +endif
