.ui.two.column.middle.aligned.very.relaxed.stackable.grid
    .column 
        | {{yield left}}
    .divider-column 
        .ui.vertical.divider {{yield divider}}
    .center.aligned.column 
        | {{yield right}}
