*.pyc
production
/public
server/public.*
server/public-*
server/public
server/server.js
node_modules
*.kate-swp
vendor-*
.idea
app/assets/demos
disabled/*
**/orig--no-sync
.kateproject.d
.kateproject
npm-debug.log
.idea/
