extends ../../templates/template.jade
block script             
    script(src="demeter.js")

block title 
    title Demeter
    
block ractive   
    inspina-theme
        inspina-menu(menu="{{menu}}" selected="{{ currPage }}" user="{{ {name: login.user.name, title: 'demeter-scada TESTING'} }}")
        inspina-right
            inspina-header
                +partial('left')
                +partial('right')
                    login(context="{{ login }}" db="{{ db }}")
            inspina-content  
                page(name="/", curr="{{ currPage }}")
                    include ./home.jade
                +if('login.ok')
                    page(name="/definitions/client", curr="{{ currPage }}")
                        include ./customers-table.jade
                    page(name="/definitions/recipe", curr="{{ currPage }}")
                        include ./recipes-table.jade
                    page(name="/orders", curr="{{ currPage }}")
                        include ./orders-table.jade
                    page(name="/definitions/raw-material", curr="{{ currPage }}")
                        include ./raw-materials.jade
                    page(name="/support", curr="{{ currPage }}")
                        include ./support.jade
                    page(name="/stock", curr="{{ currPage }}")
                        include ./stock.jade
                    page(name="/product-map", curr="{{ currPage }}")
                        include ./product-map.jade
                    page(name="/dispatch", curr="{{ currPage }}")
                        include ./dispatch.jade
                    
            inspina-footer
                +partial('right')
                    span cici meze                    
                +partial('left')
                    span resource management system
  
        

        
