h1 Ürün kısaltmaları

row 
    .col-md-6.col-xs-6
        input(value="{{ aaa }}" style="width: 100%")
    .col-md-6.col-xs-6
        search-combobox(data="{{ productList }}" selected-name="{{ bbb }}" selected="{{ bbbx }}")
row 
    //- 
        col-md-12
            input(value="{{ bbbx }}")        
    col-md-12
        +if('aaa && bbb')
            p Bundan sonra <font size="3" color="red">{{ aaa }}</font> isimli ürün istediğinizde size <font size="3" color="green">{{ bbb }}</font> göndereceğiz. 
