+component('example-component')
    div(style="border: 2px solid black")
        p Enter your birth year (eg. 1984): 
        input(type="text" value="{{ birth }}")
        p You are {{ age }} years old. 
        
