style. 
    .clickable
    {
        cursor: pointer;
    }




+component('coll-panel')
    panel-custom(type="{{ type }}")
        .panel-heading
            | {{yield heading}} 
        
        +if('showBody === true')
            btn.clickable(type="{{ type }} sm block" style="margin-top: 0; padding-top: 0")
                caret 
        +unless('collapsed')
            .panel-body
                | {{yield body}}
