//- Display element
div(
    class="{{class}} {{_guid}}_button {{#!readonly}}input-button-enabled{{/}}" 
    style="{{style}}; cursor: {{#readonly}}not-allowed{{else}}pointer{{/}};"
    title="{{tooltip}}"
    ) {{yield}}


//- Popup
//- -----
.ui.custom.popup.top.left.transition.hidden(class="{{_guid}}")
    +if('title')
        .ui.small.dividing.header {{title}}
    .ui.equal.width.centered.grid
        .row
            .column 
                .ui.input(class="{{#error || _write_error}}error{{/}}")
                    input(type="{{~/['input-type']}}" value="{{new_value}}" "{{#error}}disabled=''{{/}}")
        .row 
            .column 
                .ui.icon.button(on-click="revert" class="{{#_unchanged || error}}disabled{{/}}") 
                    i.undo.icon 
                    | 
                    | Revert
            .column
                .ui.icon.button(on-click="accept" class="{{#_unchanged || error}}disabled{{/}} {{#_write_error}}red{{else}}green{{/}}") 
                    i.check.icon
                    |
                    | Accept

.ui.modal